.window {
  background-color: white;
  border-radius: 0.4em;
  min-height: var(--window-min-height, 7em);
  width: var(--window-width, 100%);
  overflow: hidden;
  display: grid;
  grid-template: auto 1fr auto / auto;
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.3);

  .title-bar {
    grid-row: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    .title {
      &:empty {
        display: none;
      }
      flex: 1 1 100%;
      padding: 1em 1em 0.5em 1em;
      font-weight: bold;
    }
  }

  > .body {
    grid-row: 2;
    overflow-y: auto;
  }

  > .footer {
    grid-row: 3;
    border-top: 1px solid #f5f5f5;
    background: #f3f6f8;
  }

  > .body,
  > .footer {
    padding: 1em;
    &:empty {
      display: none;
    }

    > :first-child {
      margin-top: 0;
    }
    > :last-child {
      margin-bottom: 0;
    }
  }
}
