.window {
  background-color: var(--slate-50);
  border-radius: 0.4em;
  min-height: var(--window-min-height, 7em);
  width: var(--window-width, 100%);
  overflow: hidden;
  display: grid;
  grid-template: auto 1fr auto / auto;
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.3);
  position: relative;
  isolation: isolate;

  .title-bar {
    grid-row: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    .title {
      &:empty {
        display: none;
      }
      flex: 1 1 100%;
      padding: 1em 1em 0.5em 1em;
      font-weight: 500;
      font-size: var(--text-size-x-large)
    }
  }

  > .body {
    grid-row: 2;
  }

  > .footer {
    grid-row: 3;
    border-top: 1px solid var(--slate-200);
    background: var(--slate-100);
  }

  &.has-body-padding > .body {
    padding: 1em;
  }
  > .footer {
    padding: 1em;
  }

  > .body,
  > .footer {
    overflow: hidden;
    &:empty {
      display: none;
    }

    > :first-child {
      margin-top: 0;
    }
    > :last-child {
      margin-bottom: 0;
    }
  }

  &.can-scroll-body > .body {
    overflow-y: auto;
  }
  &:not(.can-scroll-body) > .body {
    display: flex;
    flex-direction: column;
    > * {
      flex: 0 1 auto;
    }
  }
}
