body {
  --card-background: var(--color-surface-raised-1);
  --card-border-color: var(--color-surface-raised-1-border);
  --card-box-shadow: none;
  --card-hover-background: var(--color-surface-raised-1-hover);
  --card-hover-border-color: var(--color-surface-raised-1-hover-border);
  --card-hover-box-shadow: none;
  --card-focus-background: var(--color-surface-raised-1-focused);
  --card-focus-border-color: var(--color-surface-raised-1-focused-border);
  --card-focus-box-shadow: 0 2px 4px
      color-mix(in srgb, var(--color-shadow), transparent 15%),
    0 1px 2px color-mix(in srgb, var(--color-shadow), transparent 10%);
  --card-focus-outline-color: var(--color-surface-raised-1-focused-border);
  --card-disabled-background: var(--color-surface-raised-1-disabled);
  --card-disabled-border-color: var(--color-surface-raised-1-disabled-border);
  --card-disabled-box-shadow: none;
}
