.input-element {
  border: 1px solid var(--slate-200);
  align-items: center;
  border-radius: 0.285rem;
  background: #fff;
  margin: 0;
  padding: 6px 8px;
  line-height: inherit;
  font-family: inherit;
  font-size: inherit;
  display: block;
  width: 100%;
  box-sizing: border-box;
  text-align: var(--input-element-text-align, 'left');

  // Using focus-within to show the focus state
  // when the input is wrapped and is focused
  &:focus-within {
    border-color: var(--brand-500);
    outline: 0;
    box-shadow: 0 0 0 2px var(--brand-box-shadow);
  }

  &:disabled {
    background: var(--input-disabled-background);
  }

  &.has-error {
    background: var(--danger-background-color);
  }
}
