.input-element {
  border: var(
    --input-element-border,
    1px solid var(--color-surface-input-border)
  );
  align-items: center;
  border-radius: var(--border-radius-m);
  background: var(--input-element-background, var(--color-surface-input));
  color: var(--input-element-color, var(--text-input));
  margin: 0;
  padding: var(--input-padding);
  line-height: var(--input-line-height);
  font-family: inherit;
  font-size: inherit;
  display: block;
  width: 100%;
  box-sizing: border-box;
  min-height: var(--input-min-height, unset);
  text-align: var(--input-element-text-align, 'left');

  &::placeholder {
    color: var(--text-disabled);
  }

  &:focus {
    border-color: var(--color-surface-input-focused-border);
    outline: 0;
    box-shadow: var(
      --input-element-focus-box-shadow,
      0 0 2px 1px var(--color-shadow)
    );
  }

  &:disabled {
    background: var(--color-surface-input-disabled);
    color: var(--text-disabled);
  }

  &.read-only {
    background: var(--color-surface-input-disabled);
  }

  &.has-error {
    border-color: var(--semantic-danger-text);
    background: var(--semantic-danger-bg);
  }

  &.text-area {
    resize: var(--text-area-resize, vertical);
    min-height: var(--text-area-min-height, auto);
  }
}
