.input-element {
  border: 1px solid #dfdfdf;
  align-items: center;
  border-radius: 0.25rem;
  background: #fff;
  margin: 0;
  padding: 6px 8px;
  line-height: inherit;
  font-family: inherit;
  font-size: inherit;
  display: block;
  width: 100%;
  box-sizing: border-box;

  &:focus {
    border-color: #489ee4;
    outline: 0;
    box-shadow: 0 0 0 2px #2087e633;
  }

  &:disabled {
    background: #efefef;
  }
  
  &.has-validation-errors {
    background: #fde9e9;
  }
}
