.input-element {
  border: 1px solid var(--border-color);
  align-items: center;
  border-radius: var(--border-radius-m);
  background: var(--input-background);
  color: var(--input-text);
  margin: 0;
  padding: var(--input-padding);
  line-height: inherit;
  font-family: inherit;
  font-size: inherit;
  display: block;
  width: 100%;
  box-sizing: border-box;
  text-align: var(--input-element-text-align, 'left');

  &::placeholder {
    color: var(--text-color-tertiary);
  }

  &:focus {
    border-color: var(--input-focus-color);
    outline: 0;
    box-shadow: 0 0 0 2px var(--input-focus-shadow);
  }

  &:disabled {
    background: var(--input-disabled-background);
    color: var(--text-color-muted);
  }

  &.read-only {
    background: var(--input-disabled-background);
  }

  &.has-error {
    border-color: var(--danger-color);
    background: var(--danger-background-color);
  }

  &.text-area {
    resize: var(--text-area-resize, vertical);
    min-height: var(--text-area-min-height, auto);
  }
}
