/* TEMPORARY styles. TODO: Remove after Sorting and Grouping UX is updated */

.display-option {
  margin-top: 10px;
  padding: 10px;

  .content {
    margin-top: 10px;

    table {
      width: 100%;

      td.column {
        width: 104px;
        > button {
          width: 100px;
        }
      }
      td.dir {
        width: 78px;
        > button {
          width: 74px;
        }
      }
      td.groupcolumn {
        width: 182px;
        > button {
          width: 178px;
        }
      }
      td.filter-action {
        text-align: right;
      }
      td.value {
        .text-input {
          background: #fff;
        }
      }

      tr.add-option td {
        padding-top: 10px;
      }
    }

    .empty-msg {
      color: #606066;
    }
  }
}
