@use '../../styles/container.scss';

$color-gray-50: #f6f7f8;
$color-gray-200: #e2e2e4;

.schemas {
  @include container.container;

  overflow: auto;
  height: 100%;

  .hero {
    background-color: $color-gray-50;
    padding-top: 2em;
    padding-bottom: 2em;

    .container {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      .add {
        .fa-icon {
          margin-right: 0.5em;
        }
      }
    }
  }

  h2 {
    font-size: 1rem;
    font-weight: 600;
  }

  .schema-list {
    width: 100%;
    list-style: none;
    padding-left: 0;

    li {
      &:not(:last-of-type) {
        border-bottom: 1px solid $color-gray-200;
      }

      &:hover {
        background-color: $color-gray-50;
      }
    }
  }
}

.schema-modal {
  .header,
  .sub-header {
    font-weight: 500;
    margin-bottom: 10px;
  }
  .header {
    font-size: 1.1rem;
    margin-top: 5px;
  }
  .sub-header {
    margin-top: 10px;
  }
  .help-text {
    color: #606066;
    line-height: 1.4rem;
  }
  .schema-table-list {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 10px;
    border: 1px solid #dfdfdf;
    max-height: 120px;
    min-height: 80px;
    border-radius: 3px;
    overflow: auto;

    li {
      margin: 0;
      padding: 10px;
      border-top: 1px solid #efefef;

      &:first-child {
        border-top: none;
      }
      &:last-child {
        border-bottom: 1px solid #efefef;
      }
    }
  }
  .sub-text {
    margin-top: 10px;

    &.error {
      color: #f47171;
    }
    &.success {
      color: #1bc47d;
    }
  }
  .footer {
    text-align: right;
    button + button {
      margin-left: 6px;
    }
  }
}
