.fieldset {
  padding: 0px;
  border: 0px;

  .inline {
    display:flex;
    flex-direction: column;
  }

  .radio {
    margin: 2px;
    
    .label {
        margin: 0px 0px 0px -5px;
        }
    }
}
