.dropdown.trigger.column-opts {
  width: 100%;

  .label {
    display: flex;
  }

  .type {
    margin-right: 5px;
    color: #7f7f7f;
    font-weight: 500;
  }

  .name {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.dropdown.content.column-opts-content {
  max-height: none;
  padding: 0.3125rem 0;

  .container {
    display: flex;
    flex-direction: column;
    min-width: 14rem;

    h6.category {
      color: gray;
      margin: 0;
      padding: 0.3125rem 0.625rem;
    }

    .section {
      &.type-header {
        button.type-switch {
          width: 100%;
          display: flex;
  
          >span {
            margin-right: auto;
          }
        }
      }
      li {
        button {
          width: 100%;
        }
      }
    }
    .divider {
      height: 1px;
      background: #efefef;
      margin: 0.3125rem 0.625rem 0.3125rem;
    }

    .button-row {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
    }

    ul {
      list-style: none;
      padding: 0px;
      margin: 0px;
    }

    .list-button {
      display: flex;
      align-items: center;
      padding: 8px 12px 8px 8px;
      background-color: white;
      border: 0px;
      cursor: pointer;

      .right-icon {
        font-size: 12px;
        color: #606066;
      }

      >.opt {
        margin-right: 8px;
      }

      &:hover {
        background: #f6f7f7;
      }

      .data-icon {
        margin-right: 4px;
      }
    }
    
    .with-right-icon {
      justify-content: space-between;
    }

    .data-icon {
      padding: 2px 6px;
      color: #606066;
      background-color: #f6f7f7;
    }

    .category {
      font-weight: normal;
      font-size: 12px;
    }

    .title {
      font-weight: normal;
      font-size: 14px;
      display: block;
    }

    .type-list {
      height: 150px;
      border: 1px solid #d2d2d2;
      border-radius: 5px;
      overflow: auto;

      li {
        &:not(:last-child) {
          border-bottom: 1px solid #d2d2d2;
        }

        button {
          width: 100%;
          padding: 8px 12px 8px 8px;
          background-color: white;
          border: 0px;
          text-align: left;
          cursor: pointer;

          &:hover, &[selected="true"] {
            background: #f6f7f7;
          }
        }
      }
    }

    .save-changes {
      padding: 8px;
      
      button {
        width: 100%;
        padding: 5px 0;
        background-color: transparent;
        border: 1px solid black;
        border-radius: 3px;
        cursor: pointer;
      }
    }
  }
}
