.tab-container {
  display: flex;
  flex-direction: column;

  > ul.tabs {
    align-items: center;
    display: flex;
    position: relative;
    isolation: isolate;
    flex-direction: row;
    margin: 0;
    padding: 0;
    list-style: none;
    border-bottom: 1px solid #dfdfdf;

    > li.tab {
      align-items: stretch;
      background: 0 0;
      cursor: pointer;
      display: inline-flex;
      outline: none;
      position: relative;
      border: 1px solid transparent;
      border-color: #dfdfdf;
      width: 200px;
      max-width: 200px;
      user-select: none;
      list-style: none;
      overflow: hidden;
      transition: width 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
      border-radius: 2px 2px 0px 0px;
      margin-bottom: -1px;

      > a {
        padding: 7px 12px;
        white-space: nowrap;
        text-decoration: none;
        text-overflow: ellipsis;
        display: flex;
        align-items: center;
        overflow: hidden;
        flex-grow: 1;
        text-decoration: none;
        color: inherit;
      }

      > a:focus {
        outline: none;
      }

      & + li.tab {
        margin-left: -1px;
      }

      &.active {
        background-color: #fff;
        border-color: #dfdfdf #dfdfdf transparent;
      }

      &.focused {
        border-color: blue;
        z-index: 1;
      }

      > button.remove {
        cursor: pointer;
        padding: 4px 10px;
        border: none;
        background: none;
        margin: 0;
        color: inherit;

        &:hover {
          background: #f3f3f3;
        }
      }

      @media (hover: hover) {
        &:not(:hover) > button.remove {
          display: none;
        }
      }
    }
  }

  > ul.tabs:before {
    border-bottom: 1px solid #efefef;
  }

  .tab-content-holder {
    min-height: 0;
    min-width: 0;
    border: 1px solid #dfdfdf;
    border-top: none;
    border-radius: 0px 0px 2px 2px;
    position: relative;
    isolation: isolate;
  }
}
