// Accent colors
$tomato: hsl(8, 60%, 50%);
$pumpkin: hsl(33, 90%, 50%);
$amethyst: hsl(270, 40%, 55%);
$salmon: hsl(12, 60%, 50%);
$wisteria: hsl(250, 45%, 60%);
$glacier: hsl(190, 60%, 50%);
$asparagus: hsl(90, 45%, 30%);
$fjord: hsl(220, 60%, 60%);
$teal: hsl(180, 100%, 25%);

// Main semantic colors
$success: hsl(145, 50%, 50%);
$warning: hsl(50, 50%, 50%);
$danger: hsl(12, 50%, 50%);
$info: hsl(215, 50%, 50%);
$help: hsl(185, 50%, 50%);
$tip: hsl(150, 50%, 50%);
$outcome: hsl(275, 50%, 50%);

// Special semantic colors
$input-fill: hsl(212, 84%, 44.1%);
