.select.dropdown.content {
  padding: 0px;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      padding: 6px 12px;
      cursor: default;

      &:hover {
        background: #f3f4f5;
      }

      &.in-focus {
        background: #f3f4f5;
      }
    }
  }
}
