# Rules lower in the CODEOWNERS files take precedence, so the first line
# is a catch-all for files that are not specified later.
* @centerofci/mathesar-maintainers 
/db/ @centerofci/mathesar-backend 
/mathesar/ @centerofci/mathesar-backend 
/mathesar_ui/ @centerofci/mathesar-frontend
/mathesar/templates/ @centerofci/mathesar-frontend
/mathesar/tests/integration/ @centerofci/mathesar-frontend @centerofci/mathesar-backend
/mathesar/urls.py @centerofci/mathesar-maintainers
/mathesar/views.py @centerofci/mathesar-maintainers
