ALLOWED_HOSTS=".localhost, 127.0.0.1, [::1]"
SSO_CONFIG_DICT="{\"version\": 2,\"providers\": {  \"provider1\": {    \"type\": \"oidc\",    \"provider_name\": \"okta\",    \"client_id\": \"client-id\",    \"secret\": null,    \"server_url\": \"https://trial-2872264-admin.okta.com\"  }}}"
# OIDC_CONFIG_DICT is the legacy name for SSO_CONFIG_DICT and is still accepted.
