version: "3.9"
   
services:
  db:
    image: postgres
    environment:
      - POSTGRES_DB=${POSTGRES_DB-mathesar_django}
      - POSTGRES_USER=${POSTGRES_USER-mathesar}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD-mathesar}
    ports:
      - "5432:5432"
    volumes:
      - ./.volumes:/var/lib/postgresql/data
  service:
    privileged: true
    build: .
    environment:
      - MODE=${MODE-PRODUCTION}
    command: dockerize -wait tcp://db:5432 -timeout 30s ./run.sh
    volumes:
      - ./tweaked-site-packages/sqlalchemy/engine/reflection.py:/usr/local/lib/python3.9/site-packages/sqlalchemy/engine/reflection.py
      - .:/code/
      - ui_node_modules:/code/mathesar_ui/node_modules/
    ports:
      - "8000:8000"
      - "3000:3000"
      - "6006:6006"
    depends_on:
      - db

volumes:
  ui_node_modules:
