version: "3.9"

services:
  # Mathesar App built with the same configurations as the production image
  # but with additional testing dependencies.
  # It is used to run automated test cases to verify if the app works as intended
  dev-db:
    container_name: mathesar_dev_db
    command: ["postgres", "-c", "shared_preload_libraries=plugin_debugger"]
    build:
      context: .
      dockerfile: Dockerfile.devdb
      args:
        PG_VERSION: ${PG_VERSION-13}
    environment:
      - PG_VERSION=${PG_VERSION-13}
      - POSTGRES_DB=mathesar_django
      - POSTGRES_USER=mathesar
      - POSTGRES_PASSWORD=mathesar
    ports:
      - "5432:5432"
    volumes:
      - dev_postgres_data:/var/lib/postgresql/data
      - ./db/sql:/sql/
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -d $${POSTGRES_DB-mathesar_django} -U $${POSTGRES_USER-mathesar}"]
      interval: 5s
      timeout: 1s
      retries: 30
      start_period: 5s
  # A Django development webserver + Svelte development server used when developing Mathesar.
  #  The code changes are hot reloaded and debug flags are enabled to aid developers working on Mathesar.
  #  It is not recommended to use this service in production environment.
  dev-service:
    container_name: mathesar_service_dev
    image: mathesar/mathesar-dev:latest
    build:
      context: .
      target: development
      dockerfile: Dockerfile
    environment:
      - MODE=${MODE-DEVELOPMENT}
      - DEBUG=${DEBUG-True}
      - DJANGO_SETTINGS_MODULE=${DJANGO_SETTINGS_MODULE-config.settings.development}
      - ALLOWED_HOSTS=${ALLOWED_HOSTS-*}
      - SECRET_KEY=${SECRET_KEY}
      - MATHESAR_DATABASES=(mathesar_tables|postgresql://mathesar:mathesar@mathesar_dev_db:5432/mathesar)
      - DJANGO_SUPERUSER_PASSWORD=password
      - POSTGRES_DB=mathesar_django
      - POSTGRES_USER=mathesar
      - POSTGRES_PASSWORD=mathesar
      - POSTGRES_HOST=mathesar_dev_db
      - POSTGRES_PORT=5432
    volumes:
      - .:/code/
      - ui_node_modules:/code/mathesar_ui/node_modules/
    depends_on:
      dev-db:
        condition: service_healthy
    # On dev, following ports are exposed to other containers, and the host.
    ports:
      - "8000:8000"
      - "3000:3000"
      - "6006:6006"
  test-service:
    container_name: mathesar_service_test
    image: mathesar/mathesar-test:latest
    environment:
      - MATHESAR_DATABASES=(mathesar_tables|postgresql://mathesar:mathesar@mathesar_dev_db:5432/mathesar)
      - POSTGRES_DB=mathesar_django
      - POSTGRES_USER=mathesar
      - POSTGRES_PASSWORD=mathesar
      - POSTGRES_HOST=mathesar_dev_db
      - POSTGRES_PORT=5432
    build:
      context: .
      target: development
      dockerfile: Dockerfile
    depends_on:
      - dev-db
    ports:
      - "8000:8000"
volumes:
  ui_node_modules:
  dev_postgres_data:
