version: "3.9"

services:
  db:
    profiles: ["dev", "prod", "test"]
    image: postgres:13
    container_name: mathesar_db
    environment:
      - POSTGRES_DB=${POSTGRES_DB-mathesar_django}
      - POSTGRES_USER=${POSTGRES_USER-mathesar}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD-mathesar}
    ports:
      - ${POSTGRES_HOST-5432}:5432
    volumes:
      - postgresql_data:/var/lib/postgresql/data
  caddy-reverse-proxy:
    profiles: ["prod"]
    image: mathesar/mathesar-caddy:latest
    ports:
      - ${HTTP_PORT-80}:80
      - ${HTTPS_PORT-443}:443
    volumes:
      - media:/mathesar/media
      - static:/mathesar/static
  base-service:
    profiles: ["web-server"]
    container_name: mathesar_service
    image: mathesar/mathesar-prod:latest
    environment:
      - MODE=${MODE-PRODUCTION}
      - DEBUG=${DEBUG-False}
      - DJANGO_ALLOW_ASYNC_UNSAFE=true
      - DJANGO_SETTINGS_MODULE=${DJANGO_SETTINGS_MODULE-config.settings.production}
      - ALLOWED_HOSTS=${ALLOWED_HOSTS-*}
      - SECRET_KEY=${SECRET_KEY}
      - DJANGO_DATABASE_KEY=${DJANGO_DATABASE_KEY-default}
      - DJANGO_DATABASE_URL=${DJANGO_DATABASE_URL-postgres://mathesar:mathesar@mathesar_db:5432/mathesar_django}
      - MATHESAR_DATABASES=${MATHESAR_DATABASES-(mathesar_tables|postgresql://mathesar:mathesar@mathesar_db:5432/mathesar)}
    command: ./run.sh
    ports:
      - "8000:8000"
    volumes:
      - static:/code/static
      - media:/code/media
    labels:
      - "com.centurylinklabs.watchtower.enable=true"
  service:
    profiles: ["prod"]
    extends: base-service
    image: mathesar/mathesar-prod:latest
    # Volumes are not shared when extending
    volumes:
      - static:/code/static
      - media:/code/media
    depends_on:
      - db
    labels:
      - "com.centurylinklabs.watchtower.enable=true"
  test-service:
    profiles: [ "test" ]
    extends: base-service
    container_name: mathesar_service_test
    image: mathesar/mathesar-test:latest
    build:
      context: .
      dockerfile: Dockerfile
      args:
        PYTHON_REQUIREMENTS: requirements-dev.txt
    depends_on:
      - db
  dev-service:
    profiles: ["dev"]
    container_name: mathesar_service_dev
    image: mathesar/mathesar-dev:latest
    build:
      context: .
      dockerfile: Dockerfile
      args:
        PYTHON_REQUIREMENTS: requirements-dev.txt
    extends: base-service
    environment:
      - MODE=${MODE-DEVELOPMENT}
      - DEBUG=${DEBUG-True}
      - DJANGO_ALLOW_ASYNC_UNSAFE=true
      - DISPLAY=${DISPLAY}
      - XAUTHORITY=/.Xauthority
      - DJANGO_SUPERUSER_PASSWORD=password
      - DJANGO_SETTINGS_MODULE=${DJANGO_SETTINGS_MODULE-config.settings.development}
      - DJANGO_SUPERUSER_PASSWORD=${DJANGO_SUPERUSER_PASSWORD}
    command: dockerize -wait tcp://mathesar_db:5432 -timeout 30s ./dev-run.sh
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix
      - ~/.Xauthority:/.Xauthority
      - .:/code/
      - ui_node_modules:/code/mathesar_ui/node_modules/
    depends_on:
      - db
    ports:
      - "8000:8000"
      - "3000:3000"
      - "6006:6006"
  watchtower:
    image: containrrr/watchtower
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    command: --http-api-update --label-enable --debug
    environment:
      - WATCHTOWER_HTTP_API_TOKEN=mytoken
    labels:
      - "com.centurylinklabs.watchtower.enable=false"
    expose:
      - "8080"
volumes:
  postgresql_data:
  ui_node_modules:
  media:
  static:
