alembic==1.6.5
charset-normalizer==2.0.7
clevercsv==0.6.8
Django==3.1.13
dj-database-url==0.5.0
django-filter==2.4.0
django-property-filter==1.1.0
djangorestframework==3.12.4
drf-nested-routers==0.93.3
pglast==3.4
psycopg2==2.8.6
python-decouple==3.4
requests==2.20.0
SQLAlchemy==1.4.18
git+git://github.com/centerofci/sqlalchemy-filters@models_to_tables#egg=sqlalchemy_filters
