# This config file allows you to configure OpenID Connect(OIDC)
# based Single Sign-On(SSO) for logging into Mathesar with your preferred
# Identity Provider(IdP).
version: 1
oidc_providers:
  provider1:
    # (REQUIRED)
    # These values are mandatory to enable SSO via OIDC.
    # Sample OIDC config using Google as an IdP:
    provider_name: google
    client_id: # your_client_id
    secret: # your_secret_key
    server_url: https://accounts.google.com

    # (OPTIONAL)
    # These are optional configuration that can be added for you OIDC config.

    # Restrict logins to the specified email domains.
    # Default(Allow all domains): []
    # Example: ['xyz.org', 'example.com']
    allowed_email_domains: []

    # Specifies the default postgres roles to be provisioned to users on their first login.
    default_pg_role:
      db1:
        name: # your_db_name
        host: # your_db_host
        port: # your_db_port
        role: # your_db_role
      db2:
        # Use the same config as db1 to provision default roles to users on additional databases.
  provider2:
      # Use the same config as provider1 to configure additional OIDC providers.
