@use '../colors.scss' as colors;

$base-hue: 42;
$base-saturation: 10%;

$shadows: (
  'shadow': hsl($base-hue, $base-saturation, 82%),
  'shadow-inverted': hsl(42, 20%, 98%),
  'shadow-light': hsl(42, 20%, 98%),
  'shadow-dark': hsl(0, 0%, 50%),
);

$static: (
  'modal-overlay': rgba(0, 0, 0, 0.4),
);

$sl-hue: 200;
$sl-saturation: 90%;
$sl-lightness: 70%;

$interactions: (
  'selection-strong-2': hsla($sl-hue, $sl-saturation, $sl-lightness - 30, 0.8),
  'selection-strong-1': hsla($sl-hue, $sl-saturation, $sl-lightness - 10, 0.6),
  'selection': hsla($sl-hue, $sl-saturation, $sl-lightness, 0.4),
  'selection-subtle-1': hsla($sl-hue, $sl-saturation, $sl-lightness + 8, 0.25),
  'selection-subtle-2': hsla($sl-hue, $sl-saturation, $sl-lightness + 14, 0.15),
);

$exports: (
  'stateless': (
    $shadows,
    $static,
    $interactions,
  ),
);
