// NOTE some CSS is duplicated here between Checkbox.scss and Radio.scss. We
// may want to set up a way to share those CSS properties at some point.

@function encodecolor($string) {
  @if type-of($string) == 'color' and str-index(#{$string}, '#') == 1 {
    $hex: str-slice(ie-hex-str($string), 4);
    $string: unquote('#{$hex}');

    @return '%23' + $string;
  }

  @return $string;
}

$input-color: map-get($surface-colors, 'input');
$stroke: encodecolor($input-color);

.radio {
  --size: var(--radio-size, 1em);
  --icon-donut: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3E%3Ccircle r='35' cx='50' cy='50' fill='none' stroke='#{$stroke}' stroke-width='25'/%3E%3C/svg%3E");
  font-size: inherit;
  display: inline-block;
  vertical-align: baseline;
  margin: 0 0 -0.1em 0;
  width: var(--size);
  height: var(--size);
  appearance: none;
  border: solid var(--SYS-border-input) 0.1em;
  border-radius: 50%;
  background: var(--SYS-surface-input);

  &:not(:disabled):not(:checked):hover {
    background-color: var(--SYS-surface-input-hover);
  }
  &:disabled {
    background-color: var(--SYS-surface-input-disabled);
  }
  &:disabled:not(:checked) {
    background: var(--SYS-surface-input-disabled);
  }

  &:checked {
    border-color: var(--SYS-border-input);
    background-color: var(--SYS-surface-input-fill);
    background-image: var(--icon-donut);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1em auto;
  }

  cursor: pointer;
  &:disabled {
    cursor: not-allowed;
  }
}
