.list-box-options {
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
  cursor: default;

  li {
    position: relative;
    padding: var(--size-ultra-small) var(--size-small);
    cursor: default;
    box-sizing: content-box;
    line-height: 1.2;
    min-height: 1.2em;

    // Disable text selection. Without this, if I inadvertently drag my mouse
    // over some blank space in the option, then I select text outside the
    // ListBox.
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &:hover {
      background: var(--hover-background);
    }

    &.in-focus {
      background: var(--hover-background);
    }

    &.disabled {
      color: var(--text-color-muted);
      cursor: not-allowed;
    }
  }

  &.multiple {
    li {
      border: 1px solid transparent;

      &.selected {
        border: 1px solid var(--accent-500);
        background: var(--accent-100);
      }
    }
  }

  &.truncate {
    li {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}
