.modal-wrapper,
.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.1);
}

.overlay {
  z-index: 1;
}

.modal-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.modal {
  background-color: white;
  padding: 1em;
  border-radius: 0.25em;
}
