/* TODO: resolve code duplication between here and TableView.scss */
.cell {
  position: absolute;
  height: 100%;
  top: 0;
  border-bottom: var(--cell-border-horizontal);
  border-right: var(--cell-border-vertical);
  display: flex;
  align-items: center;
}
.cell:first-child {
  border-left: var(--cell-border-vertical);
}
