:global(.cell-input-box.input-element) {
  border: none;
  outline: 0;
  margin: 0;
  padding: 6px 14px;
  line-height: inherit;
  font-family: inherit;
  font-size: inherit;
  display: block;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 2px;
  width: 100%;
  resize: none;
  height: 100%;
}

/**
  * Nesting this within the previous block does not work.
  * Possible issue with global tag and pre-processor.
  */
:global(.cell-input-box.input-element.is-null-displayed) {
  z-index: -1;
}
