.ultra_large_header {
  font-size: var(--text-size-ultra-large);
}

.large_header {
  font-size: var(--size-large);
}

.normal_bold_header {
  font-weight: normal;
}

.extra_bold_header {
  font-weight: 600;
}

.bold_header {
  font-weight: 500;
}
