.table-config-options {
  .name {
    display: flex;
    align-items: center;
    margin-bottom: 15px;

    .text-input {
      width: 200px;
      margin-left: 10px;
    }
  }
}

.preview-table {
  overflow: auto;
  height: 400px;
  position: relative;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  margin: 20px 0px;

  table {
    border-collapse: collapse;

    th, td {
      &:not(:first-child) {
        border-left: 1px solid #e0e0e0;
      }
    }

    thead {
      tr {
        th {
          margin: 0;
          padding: 0;
          position: sticky;
          top: 0;

          .name, .type {
            border-bottom: 1px solid #efefef;
          }
  
          .name {
            min-width: 150px;
            display: flex;
            padding: 4px 10px;
            background: #efefef;
  
            .text-input {
              margin-left: 10px;
            }
          }

          .type {
            background: #fff;
            button {
              width: 100%;
              border: none;
            }
          }
        }
      }
    }

    tbody {
      tr {
        border-bottom: 1px solid #efefef;

        td {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          padding: 8px 10px;
          max-width: 200px;
        }

        &:last-child {
          border-bottom: none;
        }
      }
    }
  }
}
