.alert-container {
  display: flex;
  flex-direction: row;
  padding: 0.7em;
  border-radius: var(--border-radius-m);
  max-width: max-content;
  margin: var(--alert-margin);

  > svg {
    // This helps to vertically align the icon with the first line of text.
    margin-top: 0.15em;
  }

  > * + * {
    margin-left: 0.5em;
  }

  .content {
    font-weight: 400;
    line-height: var(--size-x-large);
  }

  &.alert-info {
    background-color: var(--sky-200);
  }
  &.alert-warning {
    background-color: var(--yellow-100);
  }
  &.alert-error {
    background-color: var(--danger-background-color);
    .icon {
      color: var(--danger-color);
    }
  }
}
