.checkbox {
  display: inline-flex;
  align-items: center;
  position: relative;

  .wrapper {
    position: relative;

    >input[type="checkbox"] {
      margin: 0;
      padding: 0;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      cursor: pointer;
      opacity: 0;

      &:focus, &:hover {
        &+span.alias {
          border-color: #39a0f5;
        }
      }
    }

    >span.alias {
      position: relative;
      display: block;
      width: 1rem;
      height: 1rem;
      background-color: #fff;
      border: 1px solid #dfdfdf;
      border-radius: 2px;
    }
  }

  &.checked {
    .wrapper {
      >span.alias {
        border-color: #39a0f5;
        background: #39a0f5;

        &:after {
          position: absolute;
          top: 5px;
          left: 2px;
          width: 0.25em;
          height: 0.6em;
          border: 2px solid #fff;
          border-top: 0;
          border-left: 0;
          transform: rotate(45deg) scale(1) translate(-50%, -50%);
          opacity: 1;
          transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
          content: " ";
        }
      }
    }
  }

  .label {
    margin-left: 4px;
  }
}
