@import './colors/base.scss';
@import './colors/mixins.scss';
// ********************************************
// DARK MODE
// ********************************************

// ------------------------------------------
// Base colors
// ------------------------------------------

$base: hsl(230, 4%, 2%);
$text-base: hsl(0, 0%, 88%);

// Special semantic colors
$highlight: hsl(38, 80%, 8%);
$highlight-elevated: hsl(38, 80%, 30%);
$icon: hsl(hue($wisteria), 10%, 75%);
$link: hsl(hue($fjord), 50%, 80%);
$visited-link: hsl(hue($wisteria), 90%, 70%);

// ------------------------------------------
// Surfaces
// ------------------------------------------

$base-hue: 230;
$base-saturation: 4%;

$color-shadow: hsl($base-hue, $base-saturation, 18%);

$surface-elevations: (
  'base': (
    '': hsl($base-hue, $base-saturation, 2%),
    'border': hsl($base-hue, $base-saturation, 15%),
  ),
  'raised-1': (
    '': hsl($base-hue, $base-saturation, 5%),
    'border': hsl($base-hue, $base-saturation, 20%),
  ),
  'raised-2': (
    '': hsl($base-hue, $base-saturation, 7%),
    'border': hsl($base-hue, $base-saturation, 25%),
  ),
  'raised-3': (
    '': hsl($base-hue, $base-saturation, 10%),
    'border': hsl($base-hue, $base-saturation, 30%),
  ),
);

$surface-visual-components: (
  'input': (
    '': hsl($base-hue, $base-saturation, 0%),
    'border': hsl($base-hue, $base-saturation, 40%),
    'fill': $input-fill,
  ),
  'control': (
    '': hsl($base-hue, $base-saturation, 5%),
    'border': hsl($base-hue, $base-saturation, 10%),
  ),
  'header': (
    '': hsl($base-hue, $base-saturation, 5%),
    'border': hsl($base-hue, $base-saturation, 20%),
  ),
  'supporting': (
    '': hsl($base-hue, $base-saturation, 5%),
    'border': hsl($base-hue, $base-saturation, 30%),
  ),
);

$surface-states: (
  'hover': (
    '': (
      'h_delta': 0,
      's_delta': 8%,
      'l_delta': 4%,
    ),
    'border': (
      'h_delta': 0,
      's_delta': 0,
      'l_delta': 6,
    ),
    'fill': (
      'h_delta': 0,
      's_delta': 8%,
      'l_delta': 4%,
    ),
  ),
  'active': (
    '': (
      'h_delta': 0,
      's_delta': 0,
      'l_delta': 9,
    ),
    'border': (
      'h_delta': 0,
      's_delta': 0,
      'l_delta': 14,
    ),
  ),
  'focused': (
    '': (
      'h_delta': 0,
      's_delta': 0,
      'l_delta': 2,
    ),
    'border': (
      'h_delta': 0,
      's_delta': 0,
      'l_delta': 10,
    ),
  ),
  'disabled': (
    '': (
      'h_delta': 0,
      's_delta': 0,
      'l_delta': 10,
    ),
    'border': (
      'h_delta': 0,
      's_delta': 0,
      'l_delta': 6,
    ),
  ),
  'muted': (
    '': (
      'h_delta': 0,
      's_delta': 0,
      'l_delta': 10,
    ),
    'border': (
      'h_delta': 0,
      's_delta': 0,
      'l_delta': 6,
    ),
  ),
);

// Colors, ordered by elevation / lightness
$surface-colors: (
  'fieldset': hsl(hue($base), saturation($base), 2%),
  'token': hsl(hue($base), saturation($base), 20%),
);

$surface-states-old: (
  'hover': (
    'h_delta': 0,
    's_delta': 8%,
    'l_delta': 4%,
  ),
  'active': (
    'h_delta': 0,
    's_delta': 0,
    'l_delta': 9,
  ),
  'focused': (
    'h_delta': 0,
    's_delta': 0,
    'l_delta': 2,
  ),
  'disabled': (
    'h_delta': 0,
    's_delta': 0,
    'l_delta': 10,
  ),
  'muted': (
    'h_delta': 0,
    's_delta': 0,
    'l_delta': 10,
  ),
);

// ------------------------------------------
// Borders
// ------------------------------------------

// Ordered by lightnesss.
// Although some tokens have the same values, they're defined separately for modularity.
$border-colors: (
  'row': hsl(hue($base), saturation($base), 12%),
  'grid': hsl(hue($base), saturation($base), 15%),
  'divider': hsl(hue($base), saturation($base), 20%),
  'fieldset': hsl(hue($base), saturation($base), 25%),
  'section': hsl(hue($base), saturation($base), 30%),
  'token': hsl(hue($base), saturation($base), 40%),
);

$border-states: (
  'hover': (
    'h_delta': 0,
    's_delta': 0,
    'l_delta': 6,
  ),
  'active': (
    'h_delta': 0,
    's_delta': 0,
    'l_delta': 14,
  ),
  'focused': (
    'h_delta': 0,
    's_delta': 0,
    'l_delta': 10,
  ),
);

// ------------------------------------------
// Text
// ------------------------------------------

$text-colors: (
  'code': hsl(hue($text-base), 80%, 96%),
  'control': hsl(hue($text-base), 5%, 70%),
  'disabled': hsl(hue($base), 0%, 30%),
  'faint': hsl(hue($base), 15%, 15%),
  'header': hsl(hue($text-base), 0%, 80%),
  'highlight': $highlight,
  'highlight-elevated': $highlight-elevated,
  'navigation': hsl(hue($wisteria), 10%, 60%),
  'icon': $icon,
  'input': hsl(hue($text-base), 0%, 100%),
  'label': hsl(hue($text-base), 0%, 70%),
  'inverted': hsl(hue($base), 10%, 4%),
  'light': hsl(hue($text-base), 10%, 95%),
  'link': $link,
  'visited-link': $visited-link,
  'muted': hsl(hue($base), 0%, 60%),
  'primary': $text-base,
  'secondary': hsl(hue($text-base), 0%, 82%),
  'tertiary': hsl(hue($text-base), 0%, 60%),
  'token': hsl(hue($base), 85%, 93%),
);

$text-states: (
  'hover': (
    'h_delta': 0,
    's_delta': 0,
    'l_delta': 12,
  ),
  'active': (
    'h_delta': 0,
    's_delta': 0,
    'l_delta': 18,
  ),
);

// ------------------------------------------
// Utility boxes + buttons
// ------------------------------------------

$semantic-colors: (
  'success': hsl(hue($success), 25%, 60%),
  'warning': hsl(hue($warning), 40%, 60%),
  'danger': hsl(hue($danger), 60%, 60%),
  'info': hsl(hue($info), 35%, 60%),
  'help': hsl(hue($help), 30%, 50%),
  'tip': hsl(hue($tip), 20%, 60%),
  'outcome': hsl(hue($outcome), 20%, 60%),
);

$semantic-roles: (
  'bg': (
    'h_delta': 0,
    's_delta': 0%,
    'l_delta': -50%,
  ),
  'text': (
    'h_delta': 0,
    's_delta': 0%,
    'l_delta': 0%,
  ),
  'icon': (
    'h_delta': 0,
    's_delta': 0%,
    'l_delta': -20%,
  ),
  'border': (
    'h_delta': 0,
    's_delta': 0%,
    'l_delta': -40%,
  ),
  'inner-bg': (
    'h_delta': 0,
    's_delta': 0%,
    'l_delta': -45%,
  ),
  'inner-text': (
    'h_delta': 0,
    's_delta': 0%,
    'l_delta': 20%,
  ),
  'inner-icon': (
    'h_delta': 0,
    's_delta': 0%,
    'l_delta': 0%,
  ),
  'inner-border': (
    'h_delta': 0,
    's_delta': -40%,
    'l_delta': -40%,
  ),
);

$semantic-states: (
  'hover': (
    'h_delta': 0,
    's_delta': 6,
    'l_delta': 6,
  ),
  'active': (
    'h_delta': 0,
    's_delta': 2,
    'l_delta': 10,
  ),
  'focused': (
    'h_delta': 5,
    's_delta': 5,
    'l_delta': 3,
  ),
);

// ------------------------------------------
// GENERATE COLORS FOR THEME
// ------------------------------------------
body.theme-dark {
  @include generate-surface-color-tokens($surface-elevations, $surface-states);
  @include generate-surface-color-tokens(
    $surface-visual-components,
    $surface-states
  );

  @each $name, $color in $surface-colors {
    @include generate-surface-tokens(#{$name}, $color, $surface-states-old);
  }

  @each $name, $color in $border-colors {
    @include generate-border-tokens(#{$name}, $color, $border-states);
  }

  @each $name, $color in $text-colors {
    @include generate-text-tokens(#{$name}, $color, $text-states);
  }

  @each $name, $color in $semantic-colors {
    @include generate-semantic-tokens(#{$name}, $color, $semantic-roles);
  }

  --mix-blend-mode: screen;
  --modal-overlay: rgba(0, 0, 0, 0.6);

  --color-shadow: #{$color-shadow};
}
