@import './colors/base.scss';
@import './colors/mixins.scss';

$base: hsl(42, 10%, 95%);
$color-shadow: hsl(hue($base), saturation($base), 82%);

body {
  --mix-blend-mode: multiply;
  --modal-overlay: rgba(0, 0, 0, 0.3);

  --color-shadow: #{$color-shadow};
}
