@import './colors/base.scss';
@import './colors/mixins.scss';

$base: hsl(42, 10%, 95%);

$color-shadow: hsl(hue($base), saturation($base), 82%);
$color-shadow-inverted: hsl(hue($base), 20%, 98%);

body {
  --mix-blend-mode: multiply;
  --modal-overlay: rgba(0, 0, 0, 0.4);

  --color-shadow: #{$color-shadow};
  --color-shadow-inverted: #{$color-shadow-inverted};

  --color-shadow-light: #{$color-shadow-inverted};
  --color-shadow-dark: hsl(0, 0%, 50%);
}
