@import './colors/base.scss';
@import './colors/mixins.scss';
// ********************************************
// LIGHT MODE
// ********************************************

// ------------------------------------------
// Base colors
// ------------------------------------------

$base: hsl(42, 10%, 95%);
$color-shadow: hsl(hue($base), saturation($base), 82%);

// ------------------------------------------
// Utility boxes + buttons
// ------------------------------------------

$semantic-colors: (
  'success': hsl(hue($success), 40%, 30%),
  'warning': hsl(hue($warning), 70%, 40%),
  'danger': hsl(hue($danger), 100%, 60%),
  'info': hsl(hue($info), 55%, 45%),
  'help': hsl(hue($help), 40%, 50%),
  'tip': hsl(hue($tip), 40%, 40%),
  'outcome': hsl(hue($outcome), 25%, 40%),
);

$semantic-roles: (
  'bg': (
    'h_delta': 0,
    's_delta': 0%,
    'l_delta': 50%,
  ),
  'text': (
    'h_delta': 0,
    's_delta': 0%,
    'l_delta': -25%,
  ),
  'icon': (
    'h_delta': 0,
    's_delta': 0%,
    'l_delta': 10%,
  ),
  'border': (
    'h_delta': 0,
    's_delta': 0%,
    'l_delta': 20%,
  ),
  'inner-bg': (
    'h_delta': 0,
    's_delta': 0%,
    'l_delta': 45%,
  ),
  'inner-text': (
    'h_delta': 0,
    's_delta': 0%,
    'l_delta': -20%,
  ),
  'inner-icon': (
    'h_delta': 0,
    's_delta': 0%,
    'l_delta': 0%,
  ),
  'inner-border': (
    'h_delta': 0,
    's_delta': 0%,
    'l_delta': 25%,
  ),
);

$semantic-states: (
  'hover': (
    'h_delta': 0,
    's_delta': 6,
    'l_delta': 6,
  ),
  'active': (
    'h_delta': 0,
    's_delta': 2,
    'l_delta': 10,
  ),
  'focused': (
    'h_delta': 5,
    's_delta': 5,
    'l_delta': 3,
  ),
);

// ------------------------------------------
// GENERATE COLORS FOR THEME
// ------------------------------------------
body {
  @each $name, $color in $semantic-colors {
    @include generate-semantic-tokens(#{$name}, $color, $semantic-roles);
  }

  --mix-blend-mode: multiply;
  --modal-overlay: rgba(0, 0, 0, 0.3);

  --color-shadow: #{$color-shadow};
}
