ul.pagination {
  margin: 0;
  list-style: none;
  list-style-type: none;
  padding: 0;
  display: inline-flex;
  align-items: center;

  li {
    margin: 0 0.25rem;

    button {
      .ellipsis {
        color: var(--text-muted);
      }

      &:hover {
        .ellipsis {
          display: none;
        }
      }
      &:not(:hover) {
        .arrow {
          display: none;
        }
      }
    }

    &.active {
      .page {
        --button-background: var(--color-selection-20);
        --button-color: var(--text-control);
        --button-border-color: var(--color-selection-80);
      }
    }

    &:hover {
      .page {
        --button-background: var(--color-selection-20-hover);
        --button-color: var(--text-control-hover);
        --button-border-color: var(--color-selection-25-hover);
      }
    }
  }
}
