ul.pagination {
  margin: 0;
  list-style: none;
  list-style-type: none;
  padding: 0;
  display: inline-flex;
  align-items: center;

  li {
    margin: 0 0.25rem;

    a,
    button {
      padding: 0.25rem;

      min-width: 1.5rem;
      display: inline-block;
      text-align: center;
      cursor: pointer;

      &:hover {
        background-color: #aeb9be21;
      }

      &:disabled {
        color: #ccc;
        background-color: inherit;
        cursor: not-allowed;
      }
    }

    button:focus {
      outline: #39a0f5 solid 1px;
    }

    .page {
      border: 1px solid #efefef;
      border-radius: 0.25rem;
      text-decoration: none;
      color: inherit;
      background: #fff;
    }

    button {
      border: none;
      background: inherit;

      .ellipsis {
        color: #afafaf;
      }

      &:hover {
        .ellipsis {
          display: none;
        }
      }
      &:not(:hover) {
        .arrow {
          display: none;
        }
      }
    }

    &.active {
      .page {
        color: #39a0f5;
        border-color: #489ee4;
      }
    }
  }
}
