aside {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  border-right: 1px solid #dfdfdf;
  transition: left .2s ease-out;
  z-index: 101;
  background-color: white;
  overflow-y: auto;

  nav {
    margin: 15px 0;

    .tree {
      li {
        a.item {
          span {
            margin-left: 6px;
          }
        }
      }
    }
  }
}
