.modal {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: var(--modal-z-index, auto);
  isolation: isolate;

  .overlay {
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
  }
  .inset {
    position: absolute;
    --inset: 1rem;
    top: var(--inset);
    bottom: var(--inset);
    left: var(--inset);
    right: var(--inset);
    display: flex;
    justify-content: center;
    z-index: 2;
  }

  .window-positioner {
    width: var(--width, auto);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    > * {
      width: var(--width);
    }

    &.v-align-top {
      align-items: flex-start;
    }
    &.v-align-center {
      align-items: center;
    }
    &.v-align-bottom {
      align-items: flex-end;
    }

    &.width-medium {
      --width: 500px;
    }
    &.width-large {
      --width: 800px;
    }
  }
}
