$top-pane-height: 46px;

header {
  display: flex;
  position: fixed;
  width: 100%;
  height: $top-pane-height;
  z-index: 4;
  align-items: center;
  top: 0;
  border-bottom: 1px solid #dfdfdf;

  .logo {
    flex-shrink: 0;
    flex-basis: 62px;
    border-right: 1px solid #dfdfdf;
  }

  .image-wrapper {
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 7px;
    background: #d1d3d6;
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;

    > * {
      flex-shrink: 0;
      flex-grow: 1;
    }
  }

  .right-options {
    margin-left: auto;
    margin-right: 15px;
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;

    .quick-links {
      margin-right: 15px;

      .new-table {
        display: flex;
        align-items: center;

        .label {
          margin-left: 4px;
        }
      }
    }
  }
}

.new-table-options {
  list-style-type: none;
  list-style: none;
  padding: 0;
  margin: 0;

  button {
    display: flex;
    width: 100%;
  }
}
