$top-pane-height: 50px;

header {
  display: flex;
  position: fixed;
  width: 100%;
  height: $top-pane-height;
  z-index: 4;
  align-items: center;
  top: 0;
  border-bottom: 1px solid #dfdfdf;

  .logo {
    flex-shrink: 0;
    flex-basis: 62px;
    border-right: 1px solid #dfdfdf;
  }

  .image-wrapper {
    text-align: center;
    width: 32px;
    padding: 8px;
    background: #d1d3d6;
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto;
  }

  button.dropdown.trigger.selector {
    display: flex;
    flex-shrink: 0;
    padding: 0px 28px 0px 0px;
    margin-left: 15px;
    border-radius: 3px;

    .text-avatar {
      margin-right: 6px;
    }

    .separator {
      padding: 0px 4px;
      font-weight: 600;
    }
    svg.schema {
      margin-right: 3px;
      color: #647dde;
    }
  }

  .right-options {
    margin-left: auto;
    margin-right: 15px;
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;

    .quick-links {
      margin-right: 15px;
    }
  }
}

.dropdown.content.selector-content {

}
