{% block content %}<div id="content-main">

<form method="post">{% csrf_token %}
<div>
{% if form.errors %}
    <p class="errornote">
    Please correct the error below.
    </p>
{% endif %}


<p>Please enter the username of the user whom you wish to change the password</p>

<fieldset class="module aligned wide">

<div class="form-row">
    {{ form.username.errors }}
    {{ form.username.label_tag }} {{ form.username }}
</div>

<div class="form-row">
    {{ form.password1.errors }}
    {{ form.password1.label_tag }} {{ form.password1 }}
    {% if form.password1.help_text %}
    <div class="help"{% if form.password1.id_for_label %} id="{{ form.password1.id_for_label }}_helptext"{% endif %}>{{ form.password1.help_text|safe }}</div>
    {% endif %}
</div>

<div class="form-row">
{{ form.password2.errors }}
    {{ form.password2.label_tag }} {{ form.password2 }}
    {% if form.password2.help_text %}
    <div class="help"{% if form.password2.id_for_label %} id="{{ form.password2.id_for_label }}_helptext"{% endif %}>{{ form.password2.help_text|safe }}</div>
    {% endif %}
</div>

</fieldset>

<div class="submit-row">
    <input type="submit" value="Change password" class="default">
</div>

</div>
</form></div>

{% endblock %}