// TODO: Extract breakpoints
$tab: 768px;
$desk: 992px;
$wide: 1200px;

$scrollbar-width: 17px;

@mixin container {
  .container {
    margin-left: auto;
    margin-right: auto;

    padding-left: 1em;
    padding-right: 1em;

    width: 100%;
    @media screen and (min-width: $tab) {
      width: $tab - $scrollbar-width;
    }
    @media screen and (min-width: $desk) {
      width: $desk - $scrollbar-width;
    }
    @media screen and (min-width: $wide) {
      width: $wide - $scrollbar-width;
    }
  }
}
