:root,
[data-md-color-scheme="default"] {
  --md-primary-fg-color: #25292e;
  --md-accent-fg-color: #eb5441;

  --md-default-fg-color--light: #4b535d;
  --md-default-fg-color--lighter: #6b757f;
  --md-default-fg-color--lightest: #d4dee8;
  --md-default-bg-color: #f9f8f6;

  --md-code-fg-color: #25292e;
  --md-code-bg-color: #e4e0d7;

  --md-typeset-mark-color: #ffff0080;
  --md-typeset-del-color: #f5503d26;
  --md-typeset-ins-color: #0bd57026;
  --md-typeset-kbd-color: #fafafa;
  --md-typeset-kbd-accent-color: #fff;
  --md-typeset-kbd-border-color: #b8b8b8;
  --md-typeset-table-color: #0000001f;
  --md-typeset-table-color--light: rgba(0, 0, 0, 0.035);
  --md-admonition-fg-color: var(--md-default-fg-color);
  --md-admonition-bg-color: var(--md-default-bg-color);
  --md-warning-fg-color: #000000de;
  --md-warning-bg-color: #ff9;
  --md-footer-fg-color: #fff;
  --md-footer-fg-color--light: #ffffffb3;
  --md-footer-fg-color--lighter: #ffffff73;
  --md-footer-bg-color: #000000de;
  --md-footer-bg-color--dark: #00000052;

  --md-link-color: #0366d6;
}

[data-md-color-scheme="slate"] {
  --md-primary-bg-color--light: #e4e7ed;
  --md-primary-fg-color--light: #e4e7ed;
  --md-typeset-a-color: #fff;
  --md-default-bg-color: #343941;
}

.md-typeset a {
  color: var(--md-link-color);
  text-decoration: underline;
}

.md-typeset h1 {
  font-weight: 600;
  color: var(--md-primary-fg-color);
  border-bottom: 2px solid var(--md-primary-fg-color);
}

.md-typeset h2 {
  font-weight: 600;
}

.md-nav__link--active {
  font-weight: 700;
}


[data-md-color-scheme="slate"] .md-typeset h1 {
  border-bottom: 2px solid var(--md-primary-fg-color--light);
  color: var(--md-primary-fg-color--light);
}

.md-nav__title {
  padding: 0;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: max-content;
  text-transform: uppercase;
}

[data-md-color-scheme="default"] .md-nav__title {
  border-bottom: 2px solid var(--md-primary-fg-color);
}

[data-md-color-scheme="slate"] .md-nav__title {
  border-bottom: 2px solid var(--md-primary-fg-color--light);
}

.md-nav__link--active {
  font-weight: 700;
}

.md-nav__list .md-nav__link {
  text-decoration: none;
  color: var(--md-default-fg-color--light);
  position: relative;
  transition: transform 0.3s ease-in-out;
}

.md-nav--secondary > .md-nav__list > .md-nav__item:not(:first-child) {
  padding: 0.25rem 0;
}

.md-nav--secondary > .md-nav__list .md-nav__item {
  border-top: 1px dashed var(--md-default-fg-color--lightest);
  color: var(--md-primary-fg-color);
}

.md-nav__list .md-nav__item:first-child {
  border-top: none;
}

.md-nav__list .md-nav__link--active {
  color: var(--md-accent-fg-color);
}

.md-nav__item--section > .md-nav__link {
  font-size: 1.2em;
}

.md-nav__item {
  padding-left: 0;
  margin-left: 0.5rem;
}

.md-nav__item .md-nav__link {
  padding: 0;
}

.md-nav--secondary .md-nav__list .md-nav__link {
  margin-top: 0;
  padding: 0.25rem 0;
  display: block;
}

[data-md-color-scheme="slate"] .md-nav__list .md-nav__link:hover {
  transform: translateX(0.25rem);
  color: var(--md-primary-fg-color--light);
}

[data-md-color-scheme="default"] .md-nav__list .md-nav__link:hover {
  transform: translateX(0.25rem);
  color: var(--md-primary-fg-color);
}


