:root,
[data-md-color-scheme="default"] {
  --md-accent-fg-color: #eb5441;
  --md-admonition-bg-color: var(--md-default-bg-color);
  --md-admonition-fg-color: var(--md-default-fg-color);
  --md-code-bg-color: #e4e0d7;
  --md-code-fg-color: #25292e;
  --md-default-bg-color: #f9f8f6;
  --md-default-fg-color--light: #4b535d;
  --md-default-fg-color--lighter: #959da6;
  --md-default-fg-color--lightest: #c3cdd8;
  --md-footer-bg-color: #000000de;
  --md-footer-bg-color--dark: #00000052;
  --md-footer-fg-color: #fff;
  --md-footer-fg-color--light: #ffffffb3;
  --md-footer-fg-color--lighter: #ffffff73;
  --md-link-color: #075cbe;
  --md-primary-fg-color: #25292e;
  --md-secondary-bg-color-default: #edece6;
  --md-typeset-del-color: #f5503d26;
  --md-typeset-ins-color: #0bd57026;
  --md-typeset-kbd-accent-color: #fff;
  --md-typeset-kbd-border-color: #b8b8b8;
  --md-typeset-kbd-color: #fafafa;
  --md-typeset-mark-color: #ffff0080;
  --md-typeset-table-color: #0000001f;
  --md-typeset-table-color--light: rgba(0, 0, 0, 0.035);
  --md-warning-bg-color: #ff9;
  --md-warning-fg-color: #000000de;
}

[data-md-color-scheme="slate"] {
  --md-accent-fg-color: #ff5c47;
  --md-default-bg-color: #2c3037;
  --md-link-color: #3191ff;
  --md-primary-bg-color--lightest: #fafafa;
  --md-primary-fg-color--light: #a6a9af;
  --md-typeset-a-color: #fff;
}

.md-nav--primary > .md-nav__list .md-nav__link--active {
  background-color: var(--md-code-bg-color);
  border-radius: 4px;
  color: var(--md-primary-fg-color--lightest);
  font-weight: 700;
}

.md-nav--secondary {
  border: 1px solid var(--md-code-bg-color);
  border-radius: 4px;
  padding: 1em;
  position: relative;
}

.md-nav--secondary > .md-nav__list .md-nav__link {
  display: block;
  margin-top: 0;
  overflow: visible;
  padding: 0.25em 0.5em;
  position: relative;
  color: var(--md-default-fg-color--light);
}

.md-nav--secondary > .md-nav__list .md-nav__link::before {
  content: "◆";
  font-size: 0.5em;
  left: -0.5em;
  opacity: 0;
  position: absolute;
  top: 0.6rem;
  transform: translateY(-50%);
}

.md-nav--secondary > .md-nav__list .md-nav__link--active::before {
  opacity: 1;
}

.md-nav--secondary .md-nav__list .md-nav__link {
  display: block;
  margin-top: 0;
  padding: 0.25em 0.5em;
}

.md-nav--secondary .md-nav__title {
  background: none;
  box-shadow: none;
}

.md-nav__item--section > .md-nav__link {
  color: var(--md-default-fg-color--lighter);
  font-size: 0.85em;
  text-transform: uppercase;
}

.md-nav__list .md-nav__item:first-child {
  border-top: none;
}

.md-nav__list > .md-nav__item > .md-nav__link {
  margin-top: 0;
  padding: 0.25em 0.5em;
}

.md-nav__title {
  font-size: 0.85em;
  padding: 0.5em;
  text-transform: uppercase;
  width: max-content;
}

.md-nav--primary > .md-nav__title {
  display: none;
}

.md-typeset a {
  color: var(--md-link-color);
  text-decoration: underline;
}

.md-typeset h1 {
  border-bottom: 2px solid var(--md-primary-fg-color);
  color: var(--md-primary-fg-color);
  font-weight: 600;
}

.md-typeset h2 {
  font-weight: 600;
}

[data-md-color-scheme="default"] .md-nav--secondary {
  background-color: var(--md-secondary-bg-color-default);
}

.md-nav__list .md-nav__link:hover {
  color: var(--md-accent-fg-color);
}

[data-md-color-scheme="slate"] .md-nav--secondary {
  border: 1px solid var(--md-primary-fg-color--light);
}

.md-nav--secondary > .md-nav__list .md-nav__link--active {
  color: var(--md-primary-bg-color--lightest);
}

[data-md-color-scheme="slate"] .md-nav--secondary > .md-nav__list .md-nav__link--active::before {
  color: var(--md-primary-bg-color--lightest);
}

[data-md-color-scheme="slate"] .md-nav__item--section > .md-nav__link {
  color: var(--md-primary-fg-color--light);
}

[data-md-color-scheme="slate"] .md-typeset h1 {
  border-bottom: 2px solid var(--md-primary-fg-color--light);
  color: var(--md-primary-bg-color--lightest);
}

/* Make header title smaller */
.md-header__title { font-size: 0.8rem; }
[dir="ltr"] .md-header__title { margin-left: 0; }

/* Make header theme switcher smaller */
.md-header__option .md-header__button { padding: 0.2rem; }
.md-header__option .md-header__button { padding: 0.2rem; }
.md-header__option .md-header__button svg { height: 1rem; width: 1rem; }

/* Make version switcher smaller */
.md-version { font-size: 0.7rem; font-weight: normal; }
[dir="ltr"] .md-version__current { margin-left: 0.6rem; }
.md-version__list { margin: 1.7rem 0 0 0; }
