:root,
[data-md-color-scheme="default"] {
  --md-primary-fg-color: #25292e;
  --md-accent-fg-color: #eb5441;

  --md-default-fg-color--light: #4b535d;
  --md-default-fg-color--lighter: #959da6;
  --md-default-fg-color--lightest: #d4dee8;
  --md-default-bg-color: #f9f8f6;

  --md-code-fg-color: #25292e;
  --md-code-bg-color: #e4e0d7;

  --md-typeset-mark-color: #ffff0080;
  --md-typeset-del-color: #f5503d26;
  --md-typeset-ins-color: #0bd57026;
  --md-typeset-kbd-color: #fafafa;
  --md-typeset-kbd-accent-color: #fff;
  --md-typeset-kbd-border-color: #b8b8b8;
  --md-typeset-table-color: #0000001f;
  --md-typeset-table-color--light: rgba(0, 0, 0, 0.035);
  --md-admonition-fg-color: var(--md-default-fg-color);
  --md-admonition-bg-color: var(--md-default-bg-color);
  --md-warning-fg-color: #000000de;
  --md-warning-bg-color: #ff9;
  --md-footer-fg-color: #fff;
  --md-footer-fg-color--light: #ffffffb3;
  --md-footer-fg-color--lighter: #ffffff73;
  --md-footer-bg-color: #000000de;
  --md-footer-bg-color--dark: #00000052;

  --md-link-color: #3191ff;
}

[data-md-color-scheme="slate"] {
  --md-primary-bg-color--light: #a6a9af;
  --md-primary-fg-color--light: #a6a9af;
  --md-primary-fg-color: #fff;
  --md-typeset-a-color: #fff;
  --md-default-bg-color: #2c3037;
  --md-accent-fg-color: #ff5c47;
}

.md-typeset a {
  color: var(--md-link-color);
  text-decoration: underline;
}

.md-typeset h1 {
  font-weight: 600;
  color: var(--md-primary-fg-color);
  border-bottom: 2px solid var(--md-primary-fg-color);
}

.md-typeset h2 {
  font-weight: 600;
}

.md-nav__link--active {
  font-weight: 700;
}

[data-md-color-scheme="slate"] .md-typeset h1 {
  border-bottom: 2px solid var(--md-primary-fg-color--light);
  color: var(--md-primary-fg-color--light);
}

.md-nav__title {
  width: max-content;
  padding: 0.5em;
  text-transform: uppercase;
  font-size: 0.85em;
}

.md-nav--secondary .md-nav__title {
  box-shadow: none;
  background: none;
}

.md-nav__link--active {
  font-weight: 700;
}

.md-nav__list .md-nav__link {
  text-decoration: none;
  color: var(--md-default-fg-color--light);
  position: relative;
  transition: transform 0.3s ease-in-out;
}

[data-md-color-scheme="slate"] .md-nav__list .md-nav__link {
  color: var(--md-primary-fg-color);
  
}

.md-nav--secondary {
  border-left: 1px solid var(--md-code-bg-color);
  padding: 0.5em;
  position: relative;
  overflow: hidden;
}

[data-md-color-scheme="default"] .md-nav--secondary::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  width: calc(100% + 20px);
  height: calc(100% + 20px);
  background: linear-gradient(to right, #f1f0ec, transparent);
  box-shadow: 0 0 20px 20px #f1f0ec;
  z-index: -1;
}

[data-md-color-scheme="slate"] .md-nav--secondary {
  border-left: 1px solid var(--md-primary-fg-color--light);
}

.md-nav__list > .md-nav__item {
  padding: 0.25em 0;
}

.md-nav--secondary > .md-nav__list .md-nav__item:not(:first-child) {
  border-top: 1px dashed var(--md-default-fg-color--lightest);
  color: var(--md-primary-fg-color);
}

.md-nav__list .md-nav__item:first-child {
  border-top: none;
}

.md-nav__list .md-nav__link--active {
  color: var(--md-accent-fg-color);
}

[data-md-color-scheme="slate"] .md-nav__list .md-nav__link--active {
  color: var(--md-accent-fg-color);
}

.md-nav__item--section > .md-nav__link {
  font-size: 0.85em;
  text-transform: uppercase;
  color: var(--md-default-fg-color--lighter);
}

[data-md-color-scheme="slate"] .md-nav__item--section > .md-nav__link {
  color: var(--md-primary-fg-color--light);
}

.md-nav__item {
  padding-left: 0;
  margin-left: 0.5rem;
}

.md-nav__item .md-nav__link {
  padding: 0;
}

.md-nav--secondary .md-nav__list .md-nav__link {
  margin-top: 0;
  padding: 0.25rem 0;
  display: block;
}

[data-md-color-scheme="slate"] .md-nav__list .md-nav__link:hover {
  transform: translateX(0.25rem);
  color: var(--md-primary-fg-color--light);
}

[data-md-color-scheme="default"] .md-nav__list .md-nav__link:hover {
  transform: translateX(0.25rem);
  color: var(--md-primary-fg-color);
}
