button.dropdown.trigger.no-arrow.help-trigger {
  padding: 0;
}

.help-trigger-content {
  color: var(--slate-300);
  svg {
    vertical-align: text-top;
  }
}

.dropdown.help-content {
  max-width: min(80vw, 40rem);
  background: #ecf7ff;
  border: solid 0.05rem #39a0f5;
  padding: 0.5rem;
}
