.import-indicator {
  margin-right: 15px;
}
.import-content {
  width: 300px;
  padding: 10px;

  .import {
    border: 1px solid #efefef;
    padding: 5px;
    cursor: pointer;

    .location {
      font-size: 0.9rem;
      color: #666;
    }
    .name {
      margin-top: 4px;
    }

    margin-bottom: 5px;
  }

  .help-text {
    margin-top: 5px;
    font-size: 0.9rem;
    color: #666;
  }
}
