.seesaw {
  overflow: hidden;
  .switcher {
    display: flex;
    align-items: stretch;
    width: 200%;
    transition: transform .1s;
    > * {
      flex-basis: 100%;
    }
  }
  &.isRight .switcher {
    transform: translateX(-50%);
  }
}
