// NOTE some CSS is duplicated here between Checkbox.scss and Radio.scss. We
// may want to set up a way to share those CSS properties at some point.

.checkbox {
  --size: var(--checkbox-size, 1em);
  --hue: var(--checkbox-hue, 212);
  --saturation: var(--checkbox-saturation, 84%);
  --base-lightness: var(--checkbox-lightness, 44.1%);

  --lightness: var(--base-lightness);
  --color-unchecked: hsl(0, 0%, var(--lightness));
  --color-checked: hsl(var(--hue), var(--saturation), var(--lightness));
  --icon-check: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23FFF' stroke-width='5' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='20 6 9 17 4 12'%3E%3C/polyline%3E%3C/svg%3E");
  --icon-minus: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23FFF' stroke-width='5' stroke-linecap='round' stroke-linejoin='round'%3E%3Cline x1='5' y1='12' x2='19' y2='12'%3E%3C/line%3E%3C/svg%3E");
  font-size: inherit;
  display: inline-block;
  vertical-align: baseline;
  margin: 0 0 var(--checkbox-margin-bottom, -0.1em) 0;
  width: var(--size);
  height: var(--size);
  appearance: none;
  border: solid var(--color-unchecked) 0.15em;
  border-radius: 0.15em;
  background: white;

  &:not(:disabled):hover {
    --lightness: calc(var(--base-lightness) - 15%);
  }
  &:disabled {
    --lightness: calc(var(--base-lightness) + 25%);
  }
  &:disabled:not(:checked):not(:indeterminate) {
    background: hsl(0, 0%, 97%);
  }

  &:checked,
  &:indeterminate {
    border-color: var(--color-checked);
    background: var(--color-checked);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 0.75em auto;
  }
  &:checked {
    background-image: var(--icon-check);
  }
  &:indeterminate {
    background-image: var(--icon-minus);
  }

  cursor: pointer;
  &:disabled {
    cursor: not-allowed;
  }
}
