[Unit]
Description=gunicorn daemon
After=network.target network-online.target
Requires=network-online.target

[Service]
Type=notify
User=mathesar
EnvironmentFile=/etc/mathesar/.env
ExecStart=/opt/venvs/mathesar/bin/python -m mathesar.start

[Install]
WantedBy=multi-user.target