/* TODO: Move this variable to a common file */
$side-bar-width: 255px;

aside {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: $side-bar-width;
  border-right: 1px solid #dfdfdf;
  transition: left .2s ease-out;
  z-index: 3;
  overflow-y: auto;

  nav {
    margin: 15px 0;

    .tree {
      li {
        a.item {
          span {
            margin-left: 6px;
          }
        }
      }
    }
  }
}

section.table-section {
  position: absolute;
  top: 0;
  left: $side-bar-width;
  right: 0;
  bottom: 0;
  overflow: auto;
  background: #f6f7fdaa;
  
  .tab-container {
    position: absolute;
    left: 5px;
    right: 5px;
    bottom: 5px;
    top: 5px;

    .tabs {
      .tab {
        >a {
          >span {
            display: flex;
            align-items: center;
            overflow: hidden;

            >span {
              margin-left: 6px;
              display: block;
              flex-grow: 1;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
          }
        }
      }
    }

    .tab-content-holder {
      flex-grow: 1;
      background: #fff;

      >div {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
      }
    }
  }
}
