/* TODO: Move this variable to a common file */
$side-bar-width: 255px;

aside {
  width: $side-bar-width;
}

section.table-section {
  position: absolute;
  top: 0;
  left: $side-bar-width;
  right: 0;
  bottom: 0;
  overflow: auto;
  background: #f6f7fdaa;
  
  .tab-container {
    position: absolute;
    left: 5px;
    right: 5px;
    bottom: 5px;
    top: 5px;

    .tab-content-holder {
      flex-grow: 1;
      background: #fff;

      >div {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
      }
    }
  }
}
