.toast-item {
  width: 18rem;
  height: auto;
  min-height: 3.5rem;
  margin: 0 0 0.5rem 0;
  padding: 0.5rem;
  background-color: var(--toast-item-background-color);
  color: var(--toast-item-text-color);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  border: none;
  border-radius: 0.25rem;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  will-change: transform, opacity;
  -webkit-tap-highlight-color: transparent;

  > .content {
    padding: 0 0.5rem;
    flex: 1 1 0%;
    > .title {
      font-weight: bold;
      margin-bottom: 1em;
    }
  }

  > .close-button,
  > .icon {
    width: 2rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
  }

  > .close-button {
    cursor: pointer;
    outline: none;
  }

  > progress {
    top: auto;
    right: auto;
    bottom: 0;
    left: 0;
    height: 6px;
    width: 100%;
    position: absolute;
    display: block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    background: transparent;
    pointer-events: none;
  }
  > progress::-webkit-progress-bar {
    background: transparent;
  }
  > progress::-webkit-progress-value {
    background: var(--toast-item-progress-color);
  }
  > progress::-moz-progress-bar {
    background: var(--toast-item-progress-color);
  }
}
