.toast-item {
  width: 22rem;
  height: auto;
  min-height: 2.5rem;
  margin: 0 0 0.5rem 0;
  padding: var(--size-small);
  background-color: var(--toast-item-background-color);
  color: var(--toast-item-text-color);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  border: none;
  border-radius: var(--size-ultra-small);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
  will-change: transform, opacity;
  -webkit-tap-highlight-color: transparent;

  > .header {
    font-size: var(--size-large);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    overflow: hidden;
    width: 100%;

    > .title {
      overflow: hidden;
      overflow-wrap: break-word;
    }

    > * + * {
      margin-left: 0.5rem;
    }

    > .close-button {
      margin-left: auto;
      cursor: pointer;
      outline: none;
    }
  }

  > .message {
    overflow: hidden;
    width: 100%;
    overflow-wrap: break-word;
    margin-top: 0.6rem;
  }

  > progress {
    top: auto;
    right: auto;
    bottom: 0;
    left: 0;
    height: 6px;
    width: 100%;
    position: absolute;
    display: block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    background: transparent;
    pointer-events: none;
  }
  > progress::-webkit-progress-bar {
    background: transparent;
  }
  > progress::-webkit-progress-value {
    background: var(--toast-item-progress-color);
  }
  > progress::-moz-progress-bar {
    background: var(--toast-item-progress-color);
  }
}
