// Accent colors
$tomato: hsl(8, 60%, 50%);
$pumpkin: hsl(33, 90%, 50%);
$amethyst: hsl(270, 35%, 50%);
$salmon: hsl(12, 79%, 50%);
$wisteria: hsl(250, 35%, 50%);
$glacier: hsl(190, 60%, 50%);
$asparagus: hsl(90, 45%, 50%);
$fjord: hsl(220, 30%, 50%);

// Main semantic colors
$success: hsl(145, 50%, 50%);
$warning: hsl(50, 50%, 50%);
$danger: hsl(12, 50%, 70%);
$info: hsl(215, 40%, 50%);
$help: hsl(185, 50%, 40%);
$tip: hsl(150, 50%, 50%);
$outcome: hsl(275, 40%, 50%);

// Special semantic colors
$brand: $tomato;
$input-fill: hsl(212, 84%, 44.1%);
