@import './colors.scss';
// ********************************************
// LIGHT MODE
// ********************************************

// ------------------------------------------
// Base colors
// ------------------------------------------

$base: hsl(42, 5%, 97%);

// Special semantic colors
$highlight: hsl(59, 84%, 90%);
$highlight-elevated: hsl(59, 98%, 52%);
$icon: hsl(hue($wisteria), 45%, 10%);
$link: hsl(hue($fjord), 80%, 55%);
$visited-link: hsl(hue($wisteria), 50%, 30%);

// ------------------------------------------
// Surfaces
// ------------------------------------------

// Colors, ordered by elevation / lightness
$surface-colors: (
  'inset': hsl(hue($base), saturation($base), 99%),
  'input': hsl(hue($base), saturation($base), 100%),
  'base': $base,
  'card': hsl(hue($base), saturation($base), 98%),
  'canvas': hsl(hue($base), saturation($base), 95%),
  'supporting': hsl(hue($base), saturation($base), 98%),
  'fieldset': hsl(hue($base), saturation($base), 93%),
  'header': hsl(hue($base), saturation($base), 92%),
  'control': hsl(hue($base), saturation($base), 92%),
  'elevated-low': hsl(hue($base), saturation($base), 92%),
  'elevated-mid': hsl(hue($base), saturation($base), 90%),
  'elevated-high': hsl(hue($base), saturation($base), 88%),
  'elevated-top': hsl(hue($base), saturation($base), 85%),
  'token': hsl(hue($base), saturation($base), 75%),
  'input-fill': $input-fill,
  'light': hsl(hue($base), saturation($base), 100%),
);

$surface-states: (
  'hover': ('h_delta': 0, 's_delta': 0, 'l_delta': -7),
  'active': ('h_delta': 0, 's_delta': 0, 'l_delta': -9),
  'focused': ('h_delta': 0, 's_delta': 0, 'l_delta': -2),
  'disabled': ('h_delta': 0, 's_delta': 0, 'l_delta': -20),
  'muted': ('h_delta': 0, 's_delta': 0, 'l_delta': 10),
);

// ------------------------------------------
// Borders
// ------------------------------------------

// Ordered by lightnesss.
// Although some tokens have the same values, they're defined separately for modularity.
$border-colors: (
  'container': hsl(hue($base), saturation($base), 88%),
  'row': hsl(hue($base), saturation($base), 88%),
  'grid': hsl(hue($base), saturation($base), 95%),
  'card': hsl(hue($base), saturation($base), 85%),
  'dropdown': hsl(hue($base), saturation($base), 85%),
  'shadow': hsl(hue($base), saturation($base), 82%),
  'divider': hsl(hue($base), saturation($base), 80%),
  'elevated-low': hsl(hue($base), saturation($base), 80%),
  'header': hsl(hue($base), saturation($base), 80%),
  'control': hsl(hue($base), saturation($base), 80%),
  'elevated-mid': hsl(hue($base), saturation($base), 75%),
  'fieldset': hsl(hue($base), saturation($base), 75%),
  'elevated-high': hsl(hue($base), saturation($base), 70%),
  'section': hsl(hue($base), saturation($base), 70%),
  'input': hsl(hue($base), saturation($base), 60%),
  'token': hsl(hue($base), saturation($base), 60%),
);

$border-states: (
  'hover': ('h_delta': 0, 's_delta': 0, 'l_delta': 6),
  'active': ('h_delta': 0, 's_delta': 0, 'l_delta': 14),
  'focused': ('h_delta': 0, 's_delta': 0, 'l_delta': 10),
);

// ------------------------------------------
// Text
// ------------------------------------------

$text-colors: (
  'code': hsl(hue($pumpkin), 80%, 4%),
  'control': hsl(hue($base), 10%, 5%),
  'disabled': hsl(hue($base), 35%, 2%),
  'faint': hsl(hue($base), 15%, 85%),
  'header': hsl(hue($base), 22%, 5%),
  'highlight': $highlight,
  'highlight-elevated': $highlight-elevated,
  'navigation': hsl(hue($wisteria), 15%, 8%),
  'icon': $icon,
  'input': hsl(hue($pumpkin), 90%, 10%),
  'label': hsl(hue($pumpkin), 20%, 4%),
  'inverted': hsl(hue($base), 10%, 96%),
  'link': $link,
  'visited-link': $visited-link,
  'muted': hsl(hue($base), 15%, 60%),
  'primary': hsl(hue($pumpkin), 80%, 4%),
  'secondary': hsl(hue($pumpkin), 65%, 6%),
  'tertiary': hsl(hue($base), 60%, 10%),
  'token': hsl(hue($base), 85%, 7%),
  'tooltip': hsl(hue($tip), 30%, 20%),
);

$text-states: (
  'hover': ('h_delta': 0, 's_delta': 0, 'l_delta': 12),
  'active': ('h_delta': 0, 's_delta': 0, 'l_delta': 18),
);

// ------------------------------------------
// Utility boxes + buttons
// ------------------------------------------

$semantic-colors: (
  'success': $success,
  'warning': $warning,
  'danger': $danger,
  'info': $info,
  'help': $help,
  'tip': $tip,
  'outcome': $outcome,
);

$semantic-roles: (
  'bg': ('h_delta': 0, 's_delta': 0, 'l_delta': 40),
  'text': ('h_delta': 0, 's_delta': 0, 'l_delta': -20),
  'icon': ('h_delta': 0, 's_delta': 0, 'l_delta': -25),
  'border': ('h_delta': 0, 's_delta': -20, 'l_delta': 20),
  'inner-bg': ('h_delta': 0, 's_delta': 0, 'l_delta': 20),
  'inner-text': ('h_delta': 0, 's_delta': 0, 'l_delta': -15),
  'inner-icon': ('h_delta': 0, 's_delta': 0, 'l_delta': -5),
  'inner-border': ('h_delta': 0, 's_delta': -10, 'l_delta': 25),
);

$semantic-states: (
  'hover': ('h_delta': 0, 's_delta': 6, 'l_delta': 6),
  'active': ('h_delta': 0, 's_delta': 2, 'l_delta': 10),
  'focused': ('h_delta': 5, 's_delta': 5, 'l_delta': 3),
);


// ------------------------------------------
// Accents
// ------------------------------------------

$accent-colors: (
  'glacier': $glacier,
  'asparagus': $asparagus,
);

$accent-roles: (
  'base': ('h_delta': 0, 's_delta': 0, 'l_delta': 0),
  'faint': ('h_delta': 0, 's_delta': 0, 'l_delta': 45),
  'muted': ('h_delta': 0, 's_delta': 0, 'l_delta': 30),
  'dull': ('h_delta': 0, 's_delta': 0, 'l_delta': 15),
  'bright': ('h_delta': 0, 's_delta': -10, 'l_delta': -5),
  'contrast': ('h_delta': 0, 's_delta': -20, 'l_delta': -15),
  'inverted': ('h_delta': 0, 's_delta': -30, 'l_delta': -35),
);

$accent-states: (
  'hover': ('h_delta': 0, 's_delta': 3%, 'l_delta':-3%),
  'active': ('h_delta': 0, 's_delta': 0%, 'l_delta':-6%),
  'focused': ('h_delta': 5, 's_delta': 5%, 'l_delta':-3%),
  'muted': ('h_delta': 0, 's_delta': -20%, 'l_delta':10%),
  'highlighted': ('h_delta': -10, 's_delta': -12%, 'l_delta':-4%),
);


// ------------------------------------------
// GENERATE COLORS FOR THEME
// ------------------------------------------
body {
  @each $name, $color in $surface-colors {
    @include generate-surface-tokens(#{$name}, $color, $surface-states);
  }

  @each $name, $color in $border-colors {
    @include generate-border-tokens(#{$name}, $color, $border-states);
  }

  @each $name, $color in $text-colors {
    @include generate-text-tokens(#{$name}, $color, $text-states);
  }

  @each $name, $color in $semantic-colors {
    @include generate-semantic-tokens(#{$name}, $color, $semantic-roles);
  }

  @each $name, $color in $accent-colors {
    @include generate-accent-tokens(#{$name}, $color, $accent-roles);
  }
  --SYS-mix-blend-mode: multiply;
}
