/**
 * File to place common css & scss variables for the component library
 */

body {
  // Background Colors
  --background-color: var(--SYS-surface-base);
  --header-gradient-start: var(--SYS-surface-supporting);
  --header-gradient-end: var(--SYS-surface-header-primary);
  --header-border: var(--SYS-border-canvas);
  --header-background: linear-gradient(
    to bottom right,
    var(--header-gradient-start),
    var(--header-gradient-end)
  );
  --footer-background-color: var(--SYS-surface-footer);
  --inset-background-color: var(--SYS-surface-inset);

  
  --hover-background: color-mix(in srgb, var(--SYS-accent-glacier-faint), transparent 20%);
  --active-background: color-mix(in srgb, var(--SYS-accent-glacier-faint-active), transparent 20%);
  --disabled-background: var(--SYS-accent-wisteria-faint-disabled);
  --elevated-background: var(--SYS-surface-elevated);
  --sidebar-background: var(--SYS-surface-supporting);
  --sheet-background: var(--SYS-surface-canvas);
  --sheet-cell-selection-bg: color-mix(in srgb, var(--SYS-accent-glacier-base), transparent 75%);
  --modal-overlay: color-mix(in srgb, var(--SYS-surface-base), transparent 10%);
  --icon-background: var(--SYS-accent-pumpkin-faint);
  --resource-icon-color: var(--SYS-accent-fjord-bright-muted);
  --resource-icon-background: var(--SYS-accent-fjord-faint-muted);
  --layout-background-color: var(--SYS-surface-base);
  --window-background-color: var(--SYS-surface-overlay);
  --progress-foreground: color-mix(in srgb, var(--SYS-surface-elevated), transparent 80%);

  // Border Colors
  --border-color: var(--SYS-border-section);
  --input-border: var(--SYS-border-input);

  // Border Radius
  --border-radius-xs: 0.071rem; //1px
  --border-radius-s: 0.142rem; //2px
  --border-radius-m: 0.285rem; //4px
  --border-radius-l: 0.571rem; //8px
  --border-radius-xl: 1.142rem; //16px

  // Shadows
  --shadow-color: color-mix(in srgb, var(--SYS-surface-base), transparent 10%);
  --shadow-color-light: color-mix(in srgb, var(--SYS-surface-base), transparent 5%);
  --shadow-color-inset: color-mix(in srgb, var(--SYS-surface-canvas), transparent 10%);

  // Card Styles
  --card-border: var(--SYS-border-card);
  --card-row-border: var(--SYS-border-row);
  --card-background: var(--SYS-surface-elevated);
  --card-hover-background: var(--SYS-surface-elevated-hover);
  --card-hover-border: var(--SYS-border-card-hover);
  --card-hover-shadow: 0 1px 2px 0  var(--SYS-surface-elevated-muted);
  --card-active-background: var(--SYS-surface-elevated-active);
  --card-active-border: var(--SYS-border-card-active);
  --card-active-shadow: inset 0 0 0 1px var(--SYS-surface-elevated-muted);
  --card-focus-outline: var(--SYS-indicator-row);


  // Toast
  --ToastItem__background-color: var(--SYS-color-info-bg);
  --ToastItem__background-color--success: var(--SYS-color-info-success);
  --ToastItem__background-color--error: var(--SYS-color-info-danger);
  --ToastItem__text-color: var(--SYS-text-primary);
  --ToastItem__progress-color: var(--progress-foreground);

  // Font Weights
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 600;
  --font-weight-extra-bold: 700;

  // Input Styles
  --input-padding: var(--sm4);
  --input-line-height: 1.2;

  // Modal
  --modal-z-index: 50;

  // Sizes
  --sm6: 0.1429rem; // 2px
  --sm5: 0.2857rem; // 4px
  --sm4: 0.4286rem; // 6px
  --sm3: 0.5714rem; // 8px
  --sm2: 0.7143rem; // 10px
  --sm1: 0.8571rem; // 12px
  --lg1: 1.25rem; // 16px
  --lg2: 1.4286rem; // 20px
  --lg3: 1.7143rem; // 24px
  --lg4: 2.4rem; // 28px
  --lg5: 3.2rem; // 56px

  // Headers
  --db-page-header: linear-gradient(
    135deg,
    var(--SYS-accent-salmon-faintest) 0%,
    var(--SYS-accent-pumpkin-faintest) 30%,
    var(--SYS-accent-asparagus-faintest) 60%,
    var(--SYS-accent-glacier-faintest) 70%,
    var(--SYS-accent-fjord-faintest) 80%,
    var(--SYS-accent-amethyst-faintest) 100%
  );

  // Headers
  --schema-page-header: linear-gradient(
      135deg,
      var(--SYS-accent-glacier-fainter) 0%,
      var(--SYS-accent-asparagus-faintest) 30%,
      var(--SYS-accent-fjord-faintest) 100%
    );
}
