/**
 * File to place common css & scss variables for the component library
 */
:root {
  // Danger colors
  --danger-color: #d67171;
  --danger-background-color: #fde9e9;
  --dander-border-color: #f2aaaa;

  // Input specific
  --input-disabled-background: #efefef;

  // Idea here is to use the same token naming
  // between the Figma designs and the codebase
  // which then makes it easier and faster to create
  // element from design into code.
  --red-500: #eb5441;
  --red-600: #c63826;

  --slate-100: #eff1f1;
  --slate-200: #d5d8dc;
  --slate-300: #aeb4bc;
  --slate-400: #4b535d;
  --slate-800: #25292e;

  --sand-100: #f9f8f6;
  --sand-200: #efece7;
  --sand-300: #e2dcd4;
  --sand-400: #cec5b6;
  --sand-800: #776850;

  --sky-200: #e8f1fd;

  --yellow-100: #fdf7ed;

  --white: white;

  --red-box-shadow: #eb544133;

  // Setting a new variable as brand color
  // provides the ability to later change its
  // value and support white-labelling

  // Brand Color
  --brand-500: var(--red-500);
  --brand-600: var(--red-600);
  --brand-box-shadow: var(--red-box-shadow);

  --size-super-ultra-small: 0.2858rem; // 4px
  --size-ultra-small: 0.4286rem; // 6px
  --size-xx-small: 0.5715rem; // 8px
  --size-x-small: 0.7143rem; // 10px
  --size-small: 0.8572rem; // 12px
  --size-base: 1rem; // 14px
  --size-large: 1.1429rem; // 16px
  --size-x-large: 1.2858rem; //18px
  --size-xx-large: 1.4286rem; // 20px

  --border-radius-s: 0.142rem; //2px
  --border-radius-m: 0.285rem; //4px
  --border-radius-l: 0.571rem; //8px
}
