/**
 * File to place common css & scss variables for the component library
 */
:root {
  // Danger colors
  --danger-color: #d67171;
  --danger-background-color: #fde9e9;
  --dander-border-color: #f2aaaa;

  // Idea here is to use the same token naming
  // between the Figma designs and the codebase
  // which then makes it easier and faster to create
  // element from design into code.
  --green-100: #e5fde6;

  --purple-100: #ebe5fd;
  --purple-200: #d7cbfb;
  --purple-300: #a586ff;
  --purple-400: #6b45dd;
  --purple-500: #4b2c9d;

  --red-100: #fdeeed;
  --red-200: #f9cdc8;
  --red-500: #eb5441;
  --red-600: #dd4734;
  --red-800: #c63826;

  --slate-50: #f6f9f9;
  --slate-100: #eef0f0;
  --slate-200: #d3d6da;
  --slate-300: #b6bbc2;
  --slate-400: #6c727e;
  --slate-500: #4c515a;
  --slate-600: #3c414a;
  --slate-700: #393f46;
  --slate-800: #272b30;

  --slate-800-rgb: 39, 43, 48;

  --sand-50: #fcfcfb;
  --sand-100: #f8f7f3;
  --sand-200: #eee7d8;
  --sand-300: #e3d7bb;
  --sand-400: #ccbcd8;
  --sand-500: #b3a08c;
  --sand-600: #9a8570;
  --sand-700: #836a55;
  --sand-800: #6b4e39;

  --sky-200: #daeefb;
  --sky-300: #99d4f9;
  --sky-500: #84caf5;
  --sky-600: #127ed6;
  --sky-700: #0f69c1;
  --sky-800: #3e5a80;

  // TODO: Get this incorporated in figma
  --slate-50-tentative: #f6f9f9;
  --sky-600-tentative: #87bcf6;

  --yellow-100: #fff6e0;
  --yellow-200: #fff0c0;
  --yellow-300: #f5cd8c;
  --yellow-400: #eeb159;

  --white: white;

  --red-box-shadow: #eb544133;

  // Setting a new variable as brand color
  // provides the ability to later change its
  // value and support white-labelling

  // Brand Color
  --brand-100: var(--red-100);
  --brand-500: var(--red-500);
  --brand-600: var(--red-600);
  --brand-800: var(--red-800);
  --brand-box-shadow: var(--red-box-shadow);

  --size-extreme-small: 0.1429rem; // 2px
  --size-super-ultra-small: 0.2858rem; // 4px
  --size-ultra-small: 0.4286rem; // 6px
  --size-xx-small: 0.5715rem; // 8px
  --size-x-small: 0.7143rem; // 10px
  --size-small: 0.8572rem; // 12px
  --size-base: 1rem; // 14px
  --size-large: 1.2rem; // 16.8px
  --size-x-large: 1.44rem; // 20.2px
  --size-xx-large: 1.728rem; // 24.2px
  --size-ultra-large: 2.074rem; // 29px
  --size-super-ultra-large: 2.488rem; // 34.8px

  --border-radius-xs: 0.071rem; //1px
  --border-radius-s: 0.142rem; //2px
  --border-radius-m: 0.285rem; //4px
  --border-radius-l: 0.571rem; //8px
  --border-radius-xl: 1.142rem; //16px

  --input-padding: var(--size-ultra-small);
}
