/**
 * File to place common css & scss variables for the component library
 */

body {
  // Background Colors
  --header-gradient-start: var(--SYS-surface-header-primary-highlighted);
  --header-gradient-end: var(--SYS-surface-header-primary);
  --header-background: linear-gradient(
    to bottom right,
    var(--header-gradient-start),
    var(--header-gradient-end)
  );
  --footer-background-color: var(--SYS-surface-footer);
  --inset-background-color: var(--SYS-surface-inset);
  
  --hover-background: color-mix(in srgb, var(--SYS-accent-glacier-dull), transparent 20%);
  --active-background: color-mix(in srgb, var(--SYS-accent-glacier-dull-active), transparent 20%);
  --disabled-background: var(--SYS-accent-wisteria-dull-disabled);
  --sidebar-background: var(--SYS-surface-supporting);
  --modal-overlay: color-mix(in srgb, var(--SYS-surface-base), transparent 10%);
  --icon-background: var(--SYS-accent-pumpkin-dull);
  --layout-background-color: var(--SYS-surface-base);
  --progress-foreground: color-mix(in srgb, var(--SYS-surface-elevated), transparent 80%);

  // Border Colors
  --border-color: var(--SYS-border-section);
  --input-border: var(--SYS-border-input);

  // Border Radius
  --border-radius-xs: 0.071rem; //1px
  --border-radius-s: 0.142rem; //2px
  --border-radius-m: 0.285rem; //4px
  --border-radius-l: 0.571rem; //8px
  --border-radius-xl: 1.142rem; //16px

  // Shadows
  --shadow-color: color-mix(in srgb, var(--SYS-surface-base), transparent 10%);
  --shadow-color-light: color-mix(in srgb, var(--SYS-surface-base), transparent 5%);
  --shadow-color-inset: color-mix(in srgb, var(--SYS-surface-canvas), transparent 10%);

  // Toast
  --ToastItem__background-color: var(--SYS-color-info-bg);
  --ToastItem__background-color--success: var(--SYS-color-info-success);
  --ToastItem__background-color--error: var(--SYS-color-info-danger);
  --ToastItem__text-color: var(--SYS-text-primary);
  --ToastItem__progress-color: var(--progress-foreground);

  // Font Weights
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 600;
  --font-weight-extra-bold: 700;

  // Input Styles
  --input-padding: var(--sm4);
  --input-line-height: 1.2;

  // Modal
  --modal-z-index: 50;

  // Sizes
  --sm6: 0.1429rem; // 2px
  --sm5: 0.2857rem; // 4px
  --sm4: 0.4286rem; // 6px
  --sm3: 0.5714rem; // 8px
  --sm2: 0.7143rem; // 10px
  --sm1: 0.8571rem; // 12px
  --lg1: 1.25rem; // 16px
  --lg2: 1.4286rem; // 20px
  --lg3: 1.7143rem; // 24px
  --lg4: 2.4rem; // 28px
  --lg5: 3.2rem; // 56px

  // Headers
  --home-page-header: linear-gradient(
    135deg,
    var(--SYS-surface-elevated) 10%,
    var(--SYS-surface-supporting) 30%,
    var(--SYS-accent-amethyst-faint) 100%
  );

  --db-page-header: linear-gradient(
    135deg,
    var(--SYS-accent-salmon-faint) 10%,
    var(--SYS-surface-supporting) 50%,
    var(--SYS-accent-pumpkin-faint) 90%,
    var(--SYS-accent-tomato-faint) 100%
  );

  --schema-page-header: linear-gradient(
      135deg,
      var(--SYS-accent-pumpkin-faint-selected) 10%,
      var(--SYS-accent-pumpkin-faint) 50%,
      var(--SYS-surface-base) 100%
    );

    --record-page-header: linear-gradient(
      135deg,
      var(--SYS-accent-asparagus-faint-hover) 20%,
      var(--SYS-surface-base), 35%,
      var(--SYS-accent-glacier-faint) 45%,
      var(--SYS-surface-base) 50%,
      var(--SYS-accent-asparagus-faint) 100%
    );;

    .page-header {
      color: var(--SYS-text-header-primary);
    }
}
