.btn {
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  border: 1px solid;
  color: inherit;
  font-family: inherit;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: #000 0 0 0 0, #000 0 0 0 0, rgba(0, 0, 0, 0.05) 0 1px 2px 0;
  font-weight: inherit;
  position: relative;
  padding: 0.5em 0.5em;
  gap: 0.25em;
  transition: background-color 0.2s ease-in-out;

  > * + * {
    margin-left: 0.25em;
  }

  &:active,
  &.active,
  &:focus {
    outline: 0;
  }

  /* Appearances */
  &.btn-default {
    background: var(--color-white);
    border-color: var(--slate-200);

    &:not(:disabled) {
      &:focus {
        border-color: var(--slate-300);
      }
    }
  }

  &.btn-primary {
    background: var(--brand-500);
    border-color: var(--brand-500);
    color: var(--white);

    &:not(:disabled) {
      &:hover,
      &.hover {
        background: var(--brand-600);
        border-color: var(--brand-600);
      }

      &:active,
      &.active {
        background: var(--brand-800);
        border-color: var(--brand-800);
      }
    }
  }

  &.btn-secondary {
    background: var(--slate-100);
    border-color: var(--slate-200);

    &:not(:disabled) {
      &:hover,
      &.hover {
        background: var(--slate-200);
        border-color: var(--slate-300);
      }

      &:active,
      &.active {
        background: var(--slate-500);
        color: var(--white);
        border-color: var(--slate-500);
      }
      &:active:hover,
      &.active:hover {
        background: var(--slate-700);
      }
    }
  }

  &.btn-outline-primary {
    background: var(--white);
    border-color: var(--brand-500);
    color: var(--brand-500);

    &:not(:disabled) {
      &:hover,
      &.hover {
        background: var(--slate-100);
        border-color: var(--brand-600);
      }

      &:active,
      &.active {
        background: var(--slate-200);
        border-color: var(--brand-800);
      }
    }
  }

  &.btn-plain,
  &.btn-plain-primary {
    background: transparent;
  }

  &.btn-plain-primary {
    color: var(--brand-500);
  }

  &.btn-ghost {
    background: transparent;
  }

  &.btn-plain,
  &.btn-ghost,
  &.btn-plain-primary {
    border-color: transparent;
    border-radius: 0px;
    box-shadow: none !important;
    font-weight: 500;
  }

  &.btn-default,
  &.btn-plain,
  &.btn-plain-primary {
    &:not(:disabled) {
      &:hover,
      &.hover {
        background: var(--slate-100);
      }

      &:active,
      &.active,
      &:focus,
      &.focus {
        box-shadow: 0 0 0 2px var(--slate-100);
      }

      &:active,
      &.active {
        background: var(--slate-200);
      }
    }
  }

  /* Sizes */
  &.size-medium {
    font-size: 1em;
  }

  &.size-small {
    font-size: 0.889em;
  }

  &.size-large {
    font-size: 1.2em;
  }

  &.padding-zero {
    padding: 0px;
  }

  &.full-width {
    width: 100%;
  }

  &.danger {
    color: var(--red-500);
  }

  /* State */
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
