.btn {
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  border: var(--button-border, 1px solid);
  font-family: inherit;
  font-size: inherit;
  line-height: var(--input-line-height);
  cursor: pointer;
  border-radius: 6px;
  box-shadow: var(--button-shadow, none);
  position: relative;
  padding: var(--input-padding) var(--sm3);
  box-sizing: border-box;
  background: var(--button-background);
  color: var(--button-color, inherit);
  border-color: var(--button-border-color);
  outline: var(--button-outline, none);
  transition: background-color 0.15s ease;
  font-weight: var(--font-weight-medium);

  > * + * {
    margin-left: 0.5em;
  }

  &:active,
  &.active,
  &:focus {
    outline: 0;
  }

  /* Appearances */
  &.btn-default {
    --button-background: var(--SYS-surface-control);
    --button-border-color: var(--SYS-border-control);
    --button-shadow: var(--SYS-surface-base) 0 1px 2px 0,
      var(--SYS-border-shadow) 0 1px 3px 0;

    &:not(:disabled) {
      &:focus {
        --button-background: var(--SYS-surface-control-focus);
        --button-border-color: var(--SYS-border-control-focus);
      }
    }
    
    &.dropdown {
      background: var(--SYS-surface-input);
      --button-border-color: var(--SYS-border-input);
    }
  }

  &.btn-primary {
    --button-background: linear-gradient(
      to bottom right,
      var(--SYS-accent-asparagus-dull),
      var(--SYS-accent-asparagus-muted)
    );
    --button-border-color: var(--SYS-accent-asparagus-muted);
    --button-color: var(--SYS-text-primary);
    box-shadow:
      0 1px 2px  color-mix(in srgb, var(--SYS-border-shadow), transparent 75%),
      0 1px 3px  color-mix(in srgb, var(--SYS-border-shadow), transparent 80%),
      0 1px 2px -1px  color-mix(in srgb, var(--SYS-border-shadow), transparent 80%);

    &:not(:disabled) {
      &.focus,
      &:focus {
        --button-outline: 2px solid var(--SYS-accent-asparagus-bright-focused);
        outline-offset: 1px;
      }

      &:hover,
      &.hover {
        --button-background: linear-gradient(
          to bottom right,
          var(--SYS-accent-asparagus-dull-hover),
          var(--SYS-accent-asparagus-muted-hover)
        );
        --button-border-color: var(--SYS-accent-asparagus-muted-hover);
        box-shadow:
          0 1px 2px -1px  color-mix(in srgb, var(--SYS-border-shadow), transparent 75%),
          0 1px 3px -2px color-mix(in srgb, var(--SYS-border-shadow), transparent 80%),
          0 1px 2px -1px  color-mix(in srgb, var(--SYS-border-shadow), transparent 80%);
      }

      &:active,
      &.active {
        --button-background: linear-gradient(
          to bottom right,
          var(--SYS-accent-asparagus-dull-active),
          var(--SYS-accent-asparagus-muted-active)
        );
        --button-border-color: var(--SYS-accent-asparagus-muted-active);
        --button-shadow: var(--SYS-border-shadow) 0 1px 2px 0;
      }
    }
  }

  &.btn-secondary {
    background-color: color-mix(in srgb, var(--SYS-accent-glacier-dull), transparent 80%);
    --button-border: 0.5px var(--SYS-accent-glacier-muted);
    --button-color: var(--SYS-text-control);
    box-shadow:
      0 1px 2px  color-mix(in srgb, var(--SYS-border-shadow), transparent 75%),
      0 1px 3px  color-mix(in srgb, var(--SYS-border-shadow), transparent 80%),
      0 1px 2px -1px  color-mix(in srgb, var(--SYS-border-shadow), transparent 80%);

    &:not(:disabled) {
      &.focus,
      &:focus {
        --button-outline: 2px solid var(--SYS-accent-glacier-dull-focused);
        outline-offset: 1px;
      }

      &:hover,
      &.hover {
        background-color: var(--SYS-accent-glacier-muted-hover);
        --button-border-color: var(--SYS-accent-glacier-dull-hover);
        box-shadow:
          0 4px 6px -1px  color-mix(in srgb, var(--SYS-border-shadow), transparent 10%),
          0 2px 4px -2px  color-mix(in srgb, var(--SYS-border-shadow), transparent 10%),
          0 0 0 1px  color-mix(in srgb, var(--SYS-border-shadow), transparent 10%) inset;
      }

      &:active,
      &.active {
        --button-background: linear-gradient(
          to bottom right,
          var(--SYS-accent-glacier-muted),
          var(--SYS-accent-glacier-faint)
        );
        --button-border-color: var(--SYS-accent-glacier-muted);
        box-shadow:
          0 1px 2px  color-mix(in srgb, var(--SYS-border-shadow), transparent 5%),
          0 1px 3px  color-mix(in srgb, var(--SYS-border-shadow), transparent 10%),
          0 1px 2px -1px  color-mix(in srgb, var(--SYS-border-shadow), transparent 10%);
      }
    }
  }

  &.btn-option-card {
    background-color: var(--SYS-surface-elevated-high);
    --button-border-color: var(--SYS-border-elevated-mid);
    --button-color: var(--SYS-text-control);
    box-shadow:
      0 1px 2px  color-mix(in srgb, var(--SYS-border-shadow), transparent 5%),
      0 1px 3px  color-mix(in srgb, var(--SYS-border-shadow), transparent 10%),
      0 1px 2px -1px  color-mix(in srgb, var(--SYS-border-shadow), transparent 10%);

    &:not(:disabled) {
      &.focus,
      &:focus {
        --button-outline: 2px solid var(--SYS-accent-glacier-dull-focused);
        outline-offset: 1px;
      }

      &:hover,
      &.hover {
        background-color: color-mix(in srgb, var(--SYS-accent-asparagus-dull), transparent 96%);
        --button-border-color: var(--SYS-accent-asparagus-muted-hover);
        box-shadow:
          0 4px 6px -1px  color-mix(in srgb, var(--SYS-border-shadow), transparent 10%),
          0 2px 4px -2px  color-mix(in srgb, var(--SYS-border-shadow), transparent 10%),
          0 0 0 1px  color-mix(in srgb, var(--SYS-surface-light), transparent 10%) inset;
      }

      &:active,
      &.active {
       background-color:  color-mix(in srgb, var(--SYS-accent-asparagus-dull), transparent 93%);
        --button-border-color: var(--SYS-accent-asparagus-muted);
        box-shadow:
          0 1px 2px  color-mix(in srgb, var(--SYS-border-shadow), transparent 5%),
          0 1px 3px  color-mix(in srgb, var(--SYS-border-shadow), transparent 10%),
          0 1px 2px -1px  color-mix(in srgb, var(--SYS-border-shadow), transparent 10%);
      }
    }
  }

  &.btn-danger {
    --button-background: transparent;
    border: transparent;
    --button-color: var(--SYS-semantic-danger-text);

    &:not(:disabled) {
      &:hover,
      &.hover {
        --button-background: color-mix(in srgb, var(--SYS-semantic-danger-inner-bg), transparent 60%);
        border: 2px solid var(--SYS-semantic-danger-inner-border-hover);
        --button-color: var(--SYS-semantic-danger-text-hover);
      }

      &:active,
      &.active {
        --button-background: color-mix(in srgb, var(--SYS-semantic-danger-inner-bg), transparent 50%);
        --button-border-color: var(--SYS-semantic-danger-inner-border-active);
        --button-color: var(--SYS-semantic-danger-text-active);
      }

      &:focus,
      &.focus {
        --button-outline: 2px solid var(--SYS-semantic-danger-inner-border-focused);
        outline-offset: 1px;
      }
    }
  }

  &.btn-outcome {
    --button-background: transparent;
    border: transparent;
    --button-color: var(--SYS-semantic-outcome-text);

    &:not(:disabled) {
      &:hover,
      &.hover {
        --button-background: color-mix(in srgb, var(--SYS-semantic-outcome-inner-bg), transparent 60%);
        border: 2px solid var(--SYS-semantic-outcome-inner-border-hover);
        --button-color: var(--SYS-semantic-outcome-text-hover);
      }

      &:active,
      &.active {
        --button-background: color-mix(in srgb, var(--SYS-semantic-outcome-inner-bg), transparent 50%);
        --button-border-color: var(--SYS-semantic-outcome-inner-border-active);
        --button-color: var(--SYS-semantic-outcome-text-active);
      }

      &:focus,
      &.focus {
        --button-outline: 2px solid var(--SYS-semantic-outcome-border-focused);
        outline-offset: 1px;
      }
    }
  }

  &.btn-plain {
    --button-background: transparent;

    &:not(:disabled) {
      &:hover,
      &.hover {
        --button-background: color-mix(in srgb, var(--SYS-accent-glacier-dull), transparent 20%);
        --button-color: var(--SYS-text-primary);
      }
    }
  }

  &.btn-ghost {
    --button-background: transparent;
  }

  &.btn-plain,
  &.btn-ghost {
    --button-border-color: transparent;
    border-radius: var(--border-radius-m);
    box-shadow: none !important;
  }

  &.btn-borderless {
    --button-border-color: transparent !important;
    border-radius: 0 !important;
    box-shadow: none !important;
  }

  &.btn-default,
  &.btn-plain {
    &:not(:disabled) {
      &:hover,
      &.hover {
        --button-background: var(--SYS-surface-control-hover);
      }

      &:active,
      &.active {
        --button-background: var(--SYS-surface-control-active);
        box-shadow: 0 0 0 2px var(--SYS-surface-control-active) !important;
      }

      &:focus,
      &.focus {
        --button-background: var(--SYS-surface-control-focused);
        border-color:  var(--SYS-border-control-focused);
        box-shadow:
          0 2px 4px  color-mix(in srgb, var(--SYS-border-shadow), transparent 15%),
          0 1px 2px  color-mix(in srgb, var(--SYS-border-shadow), transparent 10%);
        outline: none;
      }
      &.close-button {
        --button-background: transparent;
        &:hover,
        &.hover {
          color: var(--SYS-text-muted);
        }

        &:active,
        &.active {
          color: var(--SYS-text-muted);
        }

        &:focus,
        &.focus {
          --button-background: transparent;
          color: var(--SYS-semantic-danger-bg);
        }
      }
    }
  }

  &.btn-danger-ghost {
    --button-background: transparent;
    border: transparent;
    --button-color: var(--SYS-semantic-danger-text);

    &:not(:disabled) {
      &:hover,
      &.hover {
        --button-color: var(--SYS-semantic-danger-text-hover);
      }

      &:active,
      &.active {
        --button-color: var(--SYS-semantic-danger-text-active);
      }

      &:focus,
      &.focus {
        --button-outline: 2px solid var(--SYS-semantic-danger-border-focused);
        outline-offset: 1px;
      }
    }
  }

  /* Sizes */
  &.size-medium {
    font-size: 1em;
  }

  &.size-small {
    font-size: 0.889em;
  }

  &.size-large {
    font-size: 1.2em;
  }

  &.padding-zero {
    padding: 0px;
  }

  &.padding-compact {
    padding: var(--sm4) var(--sm3);
  }

  &.full-width {
    width: 100%;
  }

  &.danger {
    --button-color: var(--SYS-semantic-danger-text);
  }

  /* State */
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &.btn-action {
    --button-background: var(--SYS-accent-fjord-faint);
    color: var(--SYS-accent-fjord-bright);
    border: transparent;

    &:not(:disabled) {
      &:hover,
      &.hover {
        --button-background: color-mix(in srgb, var(--SYS-accent-fjord-muted), transparent 60%);
        border: 2px solid var(--SYS-accent-fjord-muted-hover);
        
      }

      &:active,
      &.active {
        --button-background: var(--SYS-accent-fjord-muted-active);
        --button-border-color: var(--SYS-accent-fjord-dull-active);
      }

      &:focus,
      &.focus {
        --button-outline: 2px solid var(--SYS-accent-fjord-dull-focused);
        outline-offset: 1px;
      }
    }
  }

  &.btn-tip {
    background: var(--SYS-semantic-tip-inner-bg);
    border: 1px soft var(--SYS-semantic-tip-inner-border);
    color: var(--SYS-semantic-tip-inner-text);

    &:hover {
      background: var(--SYS-semantic-tip-inner-bg-hover);
      border: 1px soft var(--SYS-semantic-tip-inner-border-hover);
      color: var(--SYS-semantic-tip-inner-text-hover);
    }

    &:active {
      background: var(--SYS-semantic-tip-inner-bg-active);
      border: 1px soft var(--SYS-semantic-tip-inner-border-active);
      color: var(--SYS-semantic-tip-inner-text-active);
    }
  }

  &.btn-refresh {
    background: var(--SYS-accent-asparagus-faint);
    border: 0.25px solid var(--SYS-accent-asparagus-muted);
    color: var(--SYS-accent-asparagus-dull);

    &:hover {
      background: var(--SYS-accent-asparagus-faint-hover);
      border: 0.25px solid var(--SYS-accent-asparagus-muted-hover);
      color: var(--SYS-accent-asparagus-dull-hover);
    }

    &:active {
      background: var(--SYS-accent-asparagus-faint-active);
      border: 0.25px solid var(--SYS-accent-asparagus-muted-active);
      color: var(--SYS-accent-asparagus-dull-active);
    }
  }

  &.btn-inspector {
    background-color: color-mix(in srgb, var(--SYS-accent-fjord-base), transparent 75%);
    --button-border: 0.5px var(--SYS-accent-fjord-dull);
    --button-color: var(--SYS-text-control);
    box-shadow:
      0 1px 2px  color-mix(in srgb, var(--SYS-border-shadow), transparent 75%),
      0 1px 3px  color-mix(in srgb, var(--SYS-border-shadow), transparent 80%),
      0 1px 2px -1px  color-mix(in srgb, var(--SYS-border-shadow), transparent 80%);

    &:not(:disabled) {
      &.focus,
      &:focus {
        --button-outline: 2px solid var(--SYS-accent-fjord-dull-focused);
        outline-offset: 1px;
      }

      &:hover,
      &.hover {
        background-color: var(--SYS-accent-fjord-dull-hover);
        --button-border-color: var(--SYS-accent-fjord-muted-hover);
        box-shadow:
          0 4px 6px -1px  color-mix(in srgb, var(--SYS-border-shadow), transparent 10%),
          0 2px 4px -2px  color-mix(in srgb, var(--SYS-border-shadow), transparent 10%),
          0 0 0 1px  color-mix(in srgb, var(--SYS-border-shadow), transparent 10%) inset;
      }

      &:active,
      &.active {
        --button-background: linear-gradient(
          to bottom right,
          var(--SYS-accent-fjord-muted),
          var(--SYS-accent-fjord-dull)
        );
        --button-border-color: var(--SYS-accent-fjord-muted);
        box-shadow:
          0 1px 2px  color-mix(in srgb, var(--SYS-border-shadow), transparent 5%),
          0 1px 3px  color-mix(in srgb, var(--SYS-border-shadow), transparent 10%),
          0 1px 2px -1px  color-mix(in srgb, var(--SYS-border-shadow), transparent 10%);
      }
    }
  }

  &.btn-link {
    box-shadow: none;
    padding: 0.3em;
    height: auto;
    min-height: 0;
    color: var(--SYS-accent-fjord-base-highlighted);
    background-color: transparent;
    border: transparent;
    border-radius: 4px;

    &:not(:disabled) {
      &:hover,
      &.hover {
        color: var(--SYS-accent-fjord-bright-hover);
      }

      &:active,
      &.active {
        color: var(--SYS-accent-fjord-bright-active);
      }
    }
  }

  &.btn-feedback {
    --button-background: transparent;
    --button-color: var(--SYS-accent-tomato-bright);
    border: 0px;
    padding: var(--sm4) var(--sm2);
    font-weight: var(--font-weight-bold);

    &:not(:disabled) {
      &:hover,
      &.hover {
        --button-color: var(--SYS-accent-tomato-base);
      }

      &:active,
      &.active {
        --button-color: var(--SYS-accent-tomato-base-active);
        --button-background: transparent;
        border: 1px solid var(--SYS-accent-tomato-muted);
      }

      &:focus,
      &.focus {
        --button-background: transparent;
        --button-color: var(--SYS-accent-tomato-base-focused);
        border: 1px solid var(--SYS-accent-tomato-muted);
      }
    }
  }
}

a.btn {
  text-decoration: none;
}
