.btn {
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  border: 1px solid;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  cursor: pointer;
  border-radius: 4px;
  box-shadow:
    #000 0 0 0 0,
    #000 0 0 0 0,
    rgba(0, 0, 0, 0.05) 0 1px 2px 0;
  font-weight: var(--font-weight-medium);
  position: relative;
  padding: var(--input-padding);
  box-sizing: border-box;

  > * + * {
    margin-left: 0.25em;
  }

  &:active,
  &.active,
  &:focus {
    outline: 0;
  }

  /* Appearances */
  &.btn-default {
    background: var(--color-white);
    border-color: var(--slate-300);

    &:not(:disabled) {
      &:focus {
        border-color: var(--slate-400);
      }
    }
  }

  &.btn-primary {
    background: var(--brand-500);
    border-color: var(--brand-500);
    color: var(--white);

    &:not(:disabled) {
      &.focus,
      &:focus {
        outline: 2px solid var(--slate-300);
        outline-offset: 1px;
      }

      &:hover,
      &.hover {
        background: var(--brand-600);
        border-color: var(--brand-600);
      }

      &:active,
      &.active {
        background: var(--brand-800);
        border-color: var(--brand-800);
      }
    }
  }

  &.btn-secondary {
    background: var(--slate-100);
    border-color: var(--slate-300);
    color: var(--slate-800);

    &:not(:disabled) {
      &.focus,
      &:focus {
        outline: 2px solid var(--slate-400);
        outline-offset: 1px;
      }

      &:hover,
      &.hover {
        background: var(--slate-200);
        border-color: var(--slate-400);
      }

      &:active,
      &.active {
        background: var(--slate-500);
        color: var(--white);
        border-color: var(--slate-500);
      }
      &:active:hover,
      &.active:hover {
        background: var(--slate-600);
      }
    }
  }

  &.btn-outline-primary {
    background: var(--white);
    border-color: var(--brand-500);
    color: var(--brand-500);

    &:not(:disabled) {
      &:hover,
      &.hover {
        background: var(--slate-100);
        border-color: var(--brand-600);
      }

      &:active,
      &.active {
        background: var(--slate-200);
        border-color: var(--brand-800);
      }
    }
  }

  &.btn-plain,
  &.btn-plain-primary {
    background: transparent;
  }

  &.btn-plain-primary {
    color: var(--brand-500);
  }

  &.btn-ghost {
    background: transparent;
  }

  &.btn-plain,
  &.btn-ghost,
  &.btn-plain-primary {
    border-color: transparent;
    border-radius: 0px;
    box-shadow: none !important;
  }

  &.btn-default,
  &.btn-plain,
  &.btn-plain-primary {
    &:not(:disabled) {
      &:hover,
      &.hover {
        background: var(--slate-100);
      }

      &:active,
      &.active,
      &:focus,
      &.focus {
        box-shadow: 0 0 0 2px var(--slate-100) !important;
      }

      &:active,
      &.active {
        background: var(--slate-200);
      }
    }
  }

  /* Sizes */
  &.size-medium {
    font-size: 1em;
  }

  &.size-small {
    font-size: 0.889em;
  }

  &.size-large {
    font-size: 1.2em;
  }

  &.padding-zero {
    padding: 0px;
  }

  &.full-width {
    width: 100%;
  }

  &.danger {
    color: var(--red-500);
  }

  /* State */
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &.btn-action {
    background: var(--sand-100);
    border-color: var(--sand-300);

    &:not(:disabled) {
      &:hover,
      &.hover {
        background: var(--sand-200);
        border-color: var(--sand-500);
      }

      &:active,
      &.active {
        background: var(--sand-300);
        border-color: var(--sand-600);
      }

      &:focus,
      &.focus {
        outline: 2px solid var(--sand-500);
        outline-offset: 1px;
      }
    }
  }

  &.btn-outcome {
    background-color: var(--purple-100);
    border: 1px solid var(--purple-200);

    &:hover {
      border: 1px solid var(--purple-300);
    }
  }
}
a.btn {
  text-decoration: none;
}
