button.btn {
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  border: 1px solid;
  color: inherit;
  font-family: inherit;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: #000 0 0 0 0, #000 0 0 0 0, rgba(0, 0, 0, 0.05) 0 1px 2px 0;
  font-weight: inherit;
  position: relative;

  > * + * {
    margin-left: 0.25rem;
  }

  &:active,
  &:focus {
    outline: 0;
  }

  /* Appearances */
  &.btn-default {
    background: var(--color-white);
    border-color: var(--color-gray-medium);

    &:not(:disabled) {
      &:focus {
        border-color: #39a0f5;
      }
    }
  }

  &.btn-primary {
    background: #39a0f5;
    border-color: #39a0f5;
    color: #fff;

    &:not(:disabled) {
      &:hover {
        background: #3995e0;
      }

      &:active {
        background: #3288ce;
      }
    }
  }

  &.btn-secondary {
    background: #434a57;
    border-color: #434a57;
    color: #fff;

    &:not(:disabled) {
      &:hover {
        background: #333c4b;
      }

      &:active {
        background: #1d222c;
      }
    }
  }

  &.btn-plain {
    background: transparent;
  }

  &.btn-ghost {
    background: transparent;
  }

  &.btn-plain,
  &.btn-ghost {
    border-color: transparent;
    border-radius: 0px;
    box-shadow: none !important;
  }

  &.btn-default,
  &.btn-plain {
    &:not(:disabled) {
      &:hover {
        background: #f3f4f5;
      }

      &:active,
      &:focus {
        box-shadow: 0 0 0 2px #2087e633 !important;
      }

      &:active {
        background: #e7e7e7;
      }
    }
  }

  /* Sizes */
  &.size-medium {
    padding: 0.5rem 0.75rem;
    font-size: var(--text-size-base);
  }

  &.size-small {
    padding: 0.25rem 0.5rem;
    font-size: var(--text-size-small);
  }

  &.size-large {
    padding: 8px 14px;
    font-size: 1.2rem;
  }

  &.padding-zero {
    padding: 0px;
  }

  &.padding-small {
    padding: 4px 10px;
  }

  &.padding-medium {
    padding: 0.5rem 0.75rem;
  }

  &.padding-large {
    padding: 8px 14px;
  }

  &.full-width {
    width: 100%;
  }

  /* State */
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
