.dropdown.content.column-opts-content .container .column-type-menu {
  width: 18rem;
  padding: 0.3125rem 0.75rem;

  .menu-header {
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
    padding-bottom: 0.625rem;
  }

  .type-list {
    border-radius: 0.3125rem;
    border: 1px solid #eaeaea;
    max-height: 7.5rem;
    overflow: auto;
    position: relative;

    li {
      border-bottom: 1px solid #f1f1f1;
      position: relative;

      &:last-child {
        border-bottom: none;
      }

      &.selected > button {
        background: #dfdfdf;
        font-weight: 600;
      }
    }
  }

  .type-options {
    padding: 0.625rem 0;

    .type-option-tabs {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      .type-option-tab {
        width: auto;
        padding: 0 0.1rem 0.2rem 0rem;
        border-bottom: 2px solid;
        border-color: transparent;

        &.selected {
          border-color: #cdcdcd;
          font-weight: 500;
          padding: 0 0rem 0.2rem 0rem;
        }
        &:not(.selected) {
          color: #616166;
        }
        &.has-error {
          color: var(--danger-color);

          .error-icon {
            position: absolute;
            top: -2px;
            right: -8px;
          }

          &.selected {
            border-color: var(--danger-border-color);
          }
        }
      }
    }
    .type-options-content {
      margin-top: 0.625rem;
    }
  }

  .type-menu-footer {
    padding-top: 0.3125rem;
    display: flex;
    flex-direction: row-reverse;
    gap: 0.75rem;
  }
}
