button.dropdown.trigger.selector {
  display: flex;
  flex-shrink: 0;
  padding: 0px 28px 0px 0px;
  margin-left: 15px;
  border-radius: 3px;

  .text-avatar {
    margin-right: 6px;
  }

  .separator {
    padding: 0px 4px;
    font-weight: 600;
    color: #a0a0a0;
  }

  svg.schema,
  svg.manage {
    margin-right: 3px;
    color: #647dde;
  }
}

.dropdown.content.selector-content {
  max-height: 300px;
  height: 300px;

  .schema-selector {
    display: flex;
    min-width: 458px;
    height: 100%;
    overflow: hidden;
    position: relative;

    .databases,
    .schemas {
      flex-shrink: 0;
      flex-grow: 0;

      .schema-searchbox {
        padding: 10px 10px 5px;
      }

      .section-header {
        font-size: 0.9em;
        padding: 5px 10px;
        font-weight: 500;
        color: #656565;
      }

      > ul {
        list-style: none;
        margin: 0;
        padding: 0;
      }

      .item {
        > button,
        a {
          display: flex;
          align-items: center;
          border: none;
          background: transparent;
          color: inherit;
          font: inherit;
          font-family: inherit;
          font-size: inherit;
          line-height: inherit;
          cursor: pointer;
          border-radius: 0px;
          width: 100%;
          text-align: left;
          text-decoration: none;
        }

        &:hover {
          background: #f3f4f4;
        }

        &.active {
          background: #ededfd;
        }

        + .item {
          margin-top: 2px;
        }
      }
    }

    svg.schema,
    svg.manage {
      margin-right: 8px;
    }
    svg.schema {
      color: #647dde;
    }
    svg.manage {
      color: #5b5b5d;
    }

    .databases {
      flex-basis: 228px;
      padding: 5px 0px;

      ul {
        margin-top: 4px;
        padding: 0px 10px;
        height: 267px;
      }

      .text-avatar {
        height: 24px;
        font-size: 0.7em;
        margin-right: 10px;

        > div {
          width: 24px;
        }
      }

      .item {
        > button {
          padding: 4px 12px 4px 5px;
        }
      }
    }

    .schemas {
      flex-basis: 230px;
      border-left: 1px solid #efefef;

      ul {
        height: 198px;
        overflow: auto;
      }

      .item {
        > a {
          padding: 9px 12px;
        }
      }

      .empty {
        color: #868686;
        padding: 9px 12px;
      }
    }
  }
}
