.menu {
  $padding-x-default: 0.5em;
  $padding-y-default: 0.5em;
  display: inline-flex;
  flex-direction: column;
  min-width: var(--Menu__min-width, 0);
  padding: var(--size-xx-small) 0;

  .menu-heading {
    color: var(--text-color-muted);
    padding: 0 var(--size-xx-small);
    margin-top: var(--size-xx-small);
    font-weight: var(--font-weight-medium);

    &:first-child {
      margin-top: 0;
    }
  }

  .menu-divider {
    height: 0;
  }

  .menu-item {
    color: var(--text-color);
    display: flex;
    flex-grow: 1;
    align-items: center;
    background-color: transparent;
    padding: var(--size-extreme-small)
      var(--Menu__padding-x, $padding-x-default);
    line-height: 1;
    border-radius: var(--border-radius-m);
    margin: 0 var(--size-xx-small);

    &.menu-item-link,
    &.menu-item-button {
      text-decoration: none;
      cursor: pointer;
    }
    &.menu-item-link:not(.disabled):hover,
    &.menu-item-button:not(.disabled):hover {
      background-color: var(--hover-background);
    }
    &.menu-item-button {
      border: inherit;
      font-family: inherit;
      font-size: inherit;
      font-weight: inherit;
      text-align: inherit;
    }
    &.danger {
      color: var(--danger-color);
    }

    &.disabled {
      color: var(--text-color-muted);
      cursor: not-allowed;
    }
    > .label {
      flex-grow: 1;
      font-weight: var(--font-weight-medium);
    }
    > .cell:not(:empty) {
      padding: var(--Menu__padding-y, $padding-y-default)
        calc(var(--Menu__padding-x, $padding-x-default) / 2);
    }
    > .control,
    > .icon {
      display: inline-flex;
      align-items: center;
      flex-grow: 0;
    }
    > .control {
      --checkbox-margin-bottom: 0;
    }
    &.active {
      background-color: var(--active-background);
      color: var(--text-color);
      &:hover {
        background-color: var(--active-background);
      }
    }
  }

  &.has-icon {
    .menu-item > .icon {
      width: calc(
        var(--Menu__icon-width) + var(--Menu__padding-x, $padding-x-default)
      );
    }
  }
  &.has-control {
    .menu-item > .control {
      width: calc(
        var(--Menu__control-width) + var(--Menu__padding-x, $padding-x-default)
      );
    }
  }
}
