.header-cell {
  position: relative;
}

.dropdown.trigger.column-opts {
  width: 100%;
  height: 100%;
  .trigger-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .column-description {
    display: flex;
    align-items: center;
  }
  .constraint-icon {
    color: #888;
    margin-right: 0.2em;
  }
  .referent {
    margin-left: 2em;
    display: block;
    font-size: 80%;
    color: #555;
    .arrow {
      color: #aaa;
    }
  }
}

.dropdown.content.column-opts-content {
  padding: 0.3125rem 0;

  .container {
    display: flex;
    flex-direction: column;
    min-width: 14rem;

    h6.category {
      color: gray;
      margin: 0;
      padding: 0.3125rem 0.625rem;
      font-weight: normal;
      font-size: 0.75rem;
    }

    .section {
      &.type-header {
        button.type-switch {
          width: 100%;
          display: flex;

          > span {
            margin-right: auto;
          }
        }
      }
      li {
        button {
          width: 100%;
        }
      }
    }
    .divider {
      height: 1px;
      background: #efefef;
      margin: 0.3125rem 0.625rem 0.3125rem;
    }
    ul {
      list-style: none;
      padding: 0px;
      margin: 0px;
    }
  }
}
