<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mathesar - {% block title %}{% endblock %}</title>

    <!-- TODO: Specify Mathesar favicon. Using a dummy data URI until then. -->
    <link rel="icon" href="data:;base64,iVBORw0KGgo=" />

    <style type="text/css">
      html,
      body {
        font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI",
          Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica,
          Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
          "Segoe UI Symbol";
        font-weight: 400;
        margin: 0;
        padding: 0;
        font-size: 14px;
        line-height: 1.2;
      }
      * {
        box-sizing: border-box;
        outline: 0;
      }
    </style>
    {% block styles %} {% endblock %}
  </head>
  <body>
    {% block scripts %} {% endblock %}

    {% block content %} {% endblock %}
  </body>
  {% for template in scripts_extension_templates %}
    {% include template %}
  {% endfor %}
</html>
