<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mathesar - {% block title %}{% endblock %}</title>
    {% block styles %}
    {% endblock %}
  </head>
  <body>
    <div>
      <a href="/">Mathesar</a>
    </div>
    {% block body %}
    {% endblock %}
    {% block scripts %}
    {% endblock %}

    {% if development_mode %}
      <script type="module" src="{{ ui_dev_url }}/@vite/client"></script>
      <script type="module" src="{{ ui_dev_url }}/src/main.js"></script>
    {% else %}
      <!-- TODO: Include production build -->
    {% endif %}
    
  </body>
</html>
