{% extends 'mathesar/base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block styles %}
  {% if not development_mode %} {% for css_file in manifest_data.module_css %}
    <link rel="stylesheet" href="{% static css_file %}" />
  {% endfor %} {% endif %}
{% endblock %}

{% block scripts %}
  {{ common_data|json_script:"common-data" }}
  {% if route_specific_data %}
    {% for key, value in route_specific_data.items %}
        {{ value|json_script:key }}
    {% endfor %}
  {% endif %}

  {% if development_mode %}
    <script type="module" src="{{ client_dev_url }}/@vite/client"></script>
    <script type="module" src="{{ client_dev_url }}/src/main.ts"></script>
  {% else %}
    <!-- For legacy browsers that do not support modules -->
    <script nomodule>
      !(function () {
        var e = document,
          t = e.createElement("script");
        if (!("noModule" in t) && "onbeforeload" in t) {
          var n = !1;
          e.addEventListener(
            "beforeload",
            function (e) {
              if (e.target === t) n = !0;
              else if (!e.target.hasAttribute("nomodule") || !n) return;
              e.preventDefault();
            },
            !0
          ),
            (t.type = "module"),
            (t.src = "."),
            e.head.appendChild(t),
            t.remove();
        }
      })();
    </script>

    <script type="module" src="{% static manifest_data.module_js %}"></script>
    <script
      nomodule
      src="{% static manifest_data.legacy_polyfill_js %}"
    ></script>
    <script
      nomodule
      id="vite-legacy-entry"
      data-src="{% static manifest_data.legacy_js %}"
    >
      System.import(
        document.getElementById("vite-legacy-entry").getAttribute("data-src")
      );
    </script>
  {% endif %}
{% endblock %}
