{% extends 'mathesar/app_styled_base.html' %}
{% load i18n static %}

{% block title %}{% translate "Login" %}{% endblock %}

{% block body_class %}auth-page{% endblock %}

{% block page_styles %}
  <link rel="stylesheet" href="{% static 'css/auth.css' %}" />
{% endblock %}

{% block page_scripts %}
  <script>
    function showLoadingStatus(newText) {
      const loginButton = document.querySelector('form button[type="submit"]');
      loginButton.disabled = true;
      loginButton.innerText = newText ?? 'Loading...';
    }
  </script>
{% endblock %}

{% block content %}
  <div class="auth-shell">
    <div class="auth-logo">
      {% if mathesar_instance_logo_url %}
        <img src="{{ mathesar_instance_logo_url }}" alt="{{ mathesar_instance_name }} Logo" title="{{ mathesar_instance_name }}"/>
      {% else %}
        <img src="{% static 'images/red-logo-with-text.svg' %}" alt="{{ mathesar_instance_name }} Logo" title="{{ mathesar_instance_name }}"/>
      {% endif %}
    </div>

    <div class="auth-card">
      <h1>{% block h1 %} {% endblock %}</h1>
      {% block box_content %} {% endblock %}
      {% comment %} set_language https://docs.djangoproject.com/en/4.2/topics/i18n/translation/#the-set-language-redirect-view  {% endcomment %}
      <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
        <input name="next" type="hidden" value="{{ redirect_to }}">
        <select name="language" onchange="form.submit()" class="auth-language-selector" aria-label="Display Language">
            {% get_current_language as LANGUAGE_CODE %}
            {% get_available_languages as LANGUAGES %}
            {% get_language_info_list for LANGUAGES as languages %}
            {% for language in languages %}
                <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                    {{ language.name_local }} ({{ language.code }})
                </option>
            {% endfor %}
        </select>
      </form>
    </div>
  </div>
{% endblock %}
