{% extends 'mathesar/app_styled_base.html' %}
{% load i18n static %}

{% block title %}{% translate "Login" %}{% endblock %}

{% block page_styles %}
  <style type="text/css">
    body {
      padding: 4rem 2rem;
      background: var(--layout-background-color);
      --login-page-spacing: var(--size-super-ultra-large);
      color: var(--text-color-primary);
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .align-center {
      margin-left: auto;
      margin-right: auto;
    }
    .logo img {
      width: 13.25rem;
      display: block;
    }
    .tutorial {
      max-width: 48rem;
      line-height: var(--size-xx-large);
    }
    .tutorial .body {
      margin-top: var(--size-xx-small);
    }
    .login-card {
      max-width: 28rem;
      background-color: var(--card-background);
      padding: var(--login-page-spacing);
      border-radius: var(--border-radius-l);
      border: 1px solid var(--card-border);
      box-shadow: 0 4px 6px -1px var(--shadow-color),
                 0 2px 4px -2px var(--shadow-color),
                 0 0 0 1px var(--shadow-color-inset) inset;
    }
    .login-card h1 {
      font-weight: var(--font-weight-medium);
      font-size: var(--size-ultra-large);
      margin: 0 0 var(--size-xx-large);
      text-align: center;
      color: var(--text-color-primary);
    }
    .login-card .labeled-input + .labeled-input {
      margin-top: var(--size-small);
    }
    .login-card .labeled-input .help.info {
      color: var(--text-color-secondary);
    }
    .login-card .labeled-input .help.error {
      color: var(--danger-color);
    }
    .login-card .footer {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: var(--size-xx-large);
    }
    .tutorial, .login-card,
    .login-card form, .login-card .footer {
      margin-top: var(--login-page-spacing);
    }
    .unsupported-device {
      display: none;
      margin-top: var(--size-xx-large);
      background: var(--danger-background-color);
      border: solid 1px var(--danger-border-color);
      border-radius: var(--border-radius-m);
      padding: var(--size-small) var(--size-large);
    }
    .unsupported-device .title {
      margin-top: var(--size-xx-small);
      font-weight: var(--font-weight-bold);
      font-size: var(--size-large);
      text-align: center;
      color: var(--text-color-primary);
    }
    .unsupported-device .warning-icon {
      margin-top: var(--size-xx-small);
      font-size: var(--size-xx-large);
      text-align: center;
    }
    .login-card .language-selector {
      display: block;
      background-color: var(--input-background);
      border: 1px solid var(--input-border);
      border-radius: var(--border-radius-m);
      color: var(--text-color-primary);
      padding: var(--size-xx-small);
      cursor: pointer;
    }
    @media (max-width: 50rem) {
      .unsupported-device {
        display: block;
      }
    }
    @media (max-height: 30rem) {
      .unsupported-device {
        display: block;
      }
    }
  </style>
{% endblock %}

{% block page_scripts %}
  <script>
    function showLoadingStatus(newText) {
      const loginButton = document.querySelector('form button[type="submit"]');
      loginButton.disabled = true;
      loginButton.innerText = newText ?? 'Loading...';
    }
  </script>
{% endblock %}

{% block content %}
  <div class="logo">
    <img src="{% static 'images/red-logo-with-text.svg' %}" alt="Mathesar Logo" class="align-center"/>
  </div>

  <div class="login-card align-center">
    <h1>{% block h1 %} {% endblock %}</h1>
    {% block box_content %} {% endblock %}
    {% comment %} set_language https://docs.djangoproject.com/en/4.2/topics/i18n/translation/#the-set-language-redirect-view  {% endcomment %}
    <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
      <input name="next" type="hidden" value="{{ redirect_to }}">
      <select name="language" onchange="form.submit()" class="language-selector align-center" aria-label="Display Language">
          {% get_current_language as LANGUAGE_CODE %}
          {% get_available_languages as LANGUAGES %}
          {% get_language_info_list for LANGUAGES as languages %}
          {% for language in languages %}
              <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                  {{ language.name_local }} ({{ language.code }})
              </option>
          {% endfor %}
      </select>
    </form>
   
  </div>
{% endblock %}
