{% extends 'mathesar/base.html' %}

{% block title %}{{ table.name }}{% endblock %}

{% block body %}
  <h2>Table: {{ table.name }}</h2>
  <h3>Schema: {{ table.schema.name }}</h2>
  <table>
    <thead>
      <tr>
        <th>#</th>
        {% for column in table.sa_columns %}
          {% if forloop.counter > 1 %}
            <th>{{ column.name }}</th>
          {% endif %}
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for record in table.sa_records %}
      <tr>
         <td>{{ forloop.counter }}</td>
          {% for item in record %}
            {% if forloop.counter > 1 %}
              <td>{{ item }}</td>
            {% endif %}
          {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
