h2 {
  padding: 20px 20px 10px;
  margin: 0;
}

table {
  td, th {
    padding: 5px;
    text-align: left;
  }
  td:first-child, th:first-child {
    padding-left: 20px;
  }
  td:last-child, th:last-child {
    padding-right: 20px;
  }
}
