.table-constraint {
  line-height: 1.4;
  .view,
  .confirm-drop {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .view {
    > * + * {
      margin-left: 10px;
    }
    .type {
      text-transform: uppercase;
      color: #666;
    }
    .columns {
      color: #666;
      font-size: 0.9rem;
    }
    .drop {
      color: #f47171;
    }
  }

  .confirm-drop {
    text-align: right;
    height: 100%;
    .warning-icon {
      color: #EEE;
    }
    .buttons {
      margin-top: 5px;
      > * + * {
        margin-left: 10px;
      }
    }
  }
  &.isSubmittingDrop {
    .cancel {
      display: none;
    }
  }
}
