.table-constraints {
  .header {
    font-weight: 500;
    margin: 5px 0 20px 0;
    font-size: 1.1rem;
  }
  .constraints-list {
    border: solid #CCC 1px;
    border-radius: 4px;
  }
  .table-constraint {
    margin: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 1.4;
    > * + * {
      margin-left: 10px;
    }
    .type {
      text-transform: uppercase;
      color: #666;
    }
    .columns {
      color: #666;
      font-size: 0.9rem;
    }
    .drop {
      color: #f47171;
    }
  }
}
