.datascape .tab-container .table-data .table-content .header .cell.new-column {
  padding: 0px;
 
  > button {
    align-items: center;
    justify-content: center;
  }
}

.new-column-dropdown {
  padding: 0.5em;
  overflow: hidden;

  .grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 0 0.5em;
  }

  .messages {
    color: darkred;
    font-style: italic;

    strong {
      font-weight: bold;
      font-style: normal;
    }
  }
}
