.text-input {
  border: 1px solid #dfdfdf;
  transition: all .2s;
  display: flex;
  align-items: center;
  border-radius: 4px;

  .prepend {
    margin-left: 8px;
  }

  input {
    border: none;
    outline: 0;
    margin: 0;
    padding: 6px 8px;
    line-height: inherit;
    font-family: inherit;
    font-size: inherit;
    display: inline-block;
    width: 100%;
    border-radius: 4px;
    background: transparent;
  }

  &.focus {
    border-color: #489ee4;
    outline: 0;
    box-shadow: 0 0 0 2px #2087e633;
  }
}
