.dropdown.content.column-opts-content .container .column-type-menu {
  min-width: 18rem;
  padding: 0.3125rem 0.75rem;

  .menu-header {
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
    padding-bottom: 0.625rem;
  }

  .type-list {
    border-radius: 0.3125rem;
    border: 1px solid #eaeaea;
    max-height: 7.5rem;
    overflow: auto;

    li {
      border-bottom: 1px solid #f1f1f1;

      &:last-child {
        border-bottom: none;
      }

      &.selected > button {
        background: #dfdfdf;
        font-weight: 600;
      }
    }
  }

  .type-options {
    padding: 0.625rem 0;

    .type-option-tabs {
      .type-option-tab {
        width: auto;
        padding-bottom: 0.3125rem;
        border-bottom: 2px solid #cdcdcd;
      }
    }
    .type-options-content {
      margin-top: 0.625rem;

      button.db-type-select {
        margin-top: 0.5rem;
        width: 100%;
      }
    }
  }

  .type-menu-footer {
    padding-top: 0.3125rem;
    display: flex;
    flex-direction: row-reverse;
    gap: 0.75rem;
  }
}
