.dropdown.content.tooltip {
  max-width: min(80vw, 25rem);
  background: color-mix(in srgb, var(--color-bg-help), transparent 2%);
  border: solid 1px
    color-mix(in srgb, var(--color-border-help), transparent 2%);
  box-shadow:
    var(--color-bg-help) 0 0 0 0,
    var(--color-bg-help) 0px 0px 0px 1px,
    var(--color-bg-help) 0px 4px 4px -3px,
    var(--color-bg-help) 0px 4px 4px -2px;
  color: var(--color-fg-help);
  padding: var(--sm2);
}
