.tutorial {
  border-left: none;
  border-top: none;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  border-radius: var(--border-radius-l);
  background-color: var(--white);
  padding: var(--tutorial_padding, 1.5rem);
  display: flex;
  flex-direction: column;
  line-height: 1.6;

  > * + * {
    margin-top: 1rem;
  }

  .title-and-meta {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .title {
      font-size: var(--text-size-large);
      color: var(--slate-800);
      font-weight: var(--font-weight-medium);
      letter-spacing: -0.01em;
    }
  }
}
