.tutorial {
  border-top: 4px solid var(--brand-500);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: var(--border-radius-m);
  background-color: var(--yellow-100);
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  line-height: 1.5;

  > * + * {
    margin-top: 1rem;
  }

  .title-and-meta {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .title {
      font-size: var(--text-size-x-large);
      color: var(--slate-800);
      font-weight: 500;
    }
  }
}
