.labeled-input {
  --spacing-y: 0.4em;
  --spacing-x: 0.3em;

  .label {
    display: inline-block;
    color: var(--slate-800);
    font-size: var(--text-size-small);
  }
  .input {
    display: block;

    // TODO: Unify styling for all form elements
    > button.dropdown.trigger {
      display: flex;
      width: 100%;
    }
  }

  .help {
    // TODO figure out how we want to support help text with an inline layout.
    // This CSS assumes the layout is stacked
    display: block;
    font-size: var(--text-size-small);
    color: var(--color-text-muted);
    margin-top: 0.5rem;
    &:empty {
      display: none;
    }
  }

  &.layout-stacked {
    .input {
      margin-top: var(--spacing-y);
    }
  }

  &.layout-inline .label-content,
  &.layout-inline-input-first .label-content {
    display: inline-flex;
    .label {
      flex: 1 1 auto;
    }
    .input {
      flex: 0 0 auto;
    }
  }

  &.layout-inline .label-content {
    flex-direction: row;
    align-items: center; // To support a text input that's taller than the label
    .input {
      margin-left: var(--spacing-x);
    }
  }
  &.layout-inline-input-first .label-content {
    flex-direction: row-reverse;
    align-items: flex-start; // To support a checkbox with a wrapping label
    .input {
      margin-right: var(--spacing-x);
    }
  }
}
