.fieldset-group {
  padding: 0;
  margin: 0;
  --spacing-y-default: 0.5em;
  --spacing-x-default: 1em;

  legend {
    padding: 0;
    font-weight: var(--font-weight-medium);
    margin-bottom: 0.5rem;
  }
  .options {
    padding-left: 0;
    list-style-type: none;
    margin: 0;
  }
  &.has-label .options {
    margin-top: 1em;
  }
  &:not(.inline) .option:not(:first-child) {
    margin-top: var(--spacing-y, var(--spacing-y-default));
  }
  &:not(.inline) .option:not(:last-child) {
    margin-bottom: var(--spacing-y, var(--spacing-y-default));
  }
  &:not(.inline) .option.has-help:not(:last-child) {
    margin-bottom: calc(2 * var(--spacing-y, var(--spacing-y-default)));
  }

  &.inline .options {
    display: flex;
    flex-wrap: wrap;
    .option:not(:last-child) {
      margin-right: var(--spacing-x, var(--spacing-x-default));
    }
  }

  &:not(.boxed) {
    border: 0;
  }
  &.boxed {
    border: 1px solid var(--slate-300);
    border-radius: var(--border-radius-m);
    padding: 1em;
    padding-top: 0;
  }
}
