.fieldset-group-options {
  --spacing-y-default: 0.5em;
  --spacing-x-default: 1em;
  padding-left: 0;
  list-style-type: none;
  margin-top: 0.25em;
  margin-bottom: 0;

  &.has-fieldset-label {
    margin-top: 1em;
  }

  &:not(.inline) {
    .option:not(:first-child) {
      margin-top: var(--spacing-y, var(--spacing-y-default));
    }
    .option:not(:last-child) {
      margin-bottom: var(--spacing-y, var(--spacing-y-default));
    }
    .option.has-help:not(:last-child) {
      margin-bottom: calc(2 * var(--spacing-y, var(--spacing-y-default)));
    }
  }

  &.inline {
    display: flex;
    flex-wrap: wrap;
    .option:not(:last-child) {
      margin-right: var(--spacing-x, var(--spacing-x-default));
    }
  }
}
