.fieldset-group {
  padding: 0;
  border: 0;
  --spacing-y-default: 0.5em;
  --spacing-x-default: 1em;

  legend {
    padding: 0;
  }
  .options {
    padding-left: 0;
    list-style-type: none;
    margin: 0;
  }
  &.has-label .options {
    margin-top: 1em;
  }
  &:not(.inline) .option {
    margin-top: var(--spacing-y, var(--spacing-y-default));
    margin-bottom: var(--spacing-y, var(--spacing-y-default));
  }

  &.inline .options {
    display: flex;
    flex-wrap: wrap;
    .option:not(:last-child) {
      margin-right: var(--spacing-x, var(--spacing-x-default));
    }
  }
}
