.fieldset {
  padding: 0;
  margin: 0;

  legend {
    padding: 0;
    margin-bottom: 0.5rem;
    color: var(--text-color-primary);
  }
  legend:empty {
    display: none;
  }

  &:not(.boxed) {
    border: 0;
  }
  &.boxed {
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius-m);
    padding: 1em;
    padding-top: 0;
  }
}
