site_name: Mathesar Documentation
site_url: https://docs.mathesar.org/
repo_url: https://github.com/mathesar-foundation/mathesar/
repo_name: mathesar-foundation/mathesar
edit_uri: edit/develop/docs/docs/

nav:
  - Introduction:
      - Welcome: index.md
  - Installation:
      - Install using Docker Compose: installation/docker-compose/index.md
      - Install from scratch: installation/build-from-source/index.md
  - Configuration:
      - Environment variables: configuration/env-variables.md
  - Administration:
      - Upgrade:
        - To 0.1.6: administration/upgrade/0.1.6.md
        - To 0.1.5: administration/upgrade/0.1.5.md
        - To 0.1.4: administration/upgrade/0.1.4.md
        - To older versions: administration/upgrade/older.md
      - Uninstall Mathesar: administration/uninstall.md
      - Debug Mathesar: administration/debug.md
  - Using Mathesar:
      - Introduction: user-guide/index.md
      - Importing data: user-guide/importing-data.md
      - Syncing database changes: user-guide/syncing-db.md
      - Users & access levels: user-guide/users.md
      - Using the RPC endpoint: user-guide/rpc-functions.md
      - Glossary: user-guide/glossary.md
  - Releases:
      - '0.1.6': releases/0.1.6.md
      - '0.1.5': releases/0.1.5.md
      - '0.1.4': releases/0.1.4.md
      - '0.1.3': releases/0.1.3.md
      - '0.1.2': releases/0.1.2.md
      - '0.1.1': releases/0.1.1.md
      - '0.1.0': releases/0.1.0.md

plugins:
  - search:
      lang: en
  - redirects:
      redirect_maps:
        "installation-dc/ansible-setup.md": "installation/docker-compose/index.md"
        "product/intro.md": "user-guide/index.md"
        "product/syncing-db.md": "user-guide/syncing-db.md"
        "product/users.md": "user-guide/users.md"
        "install/index.md": "index.md"
        "install/docker-compose/index.md": "installation/docker-compose/index.md"
        "install/build-from-source/index.md": "installation/build-from-source/index.md"
  - macros
  - placeholder
  - mkdocstrings:
      handlers:
        python:
          paths: [..]
          options:
            docstring_style: google
            separate_signature: true
            show_root_heading: true
            show_root_full_path: false
            show_source: false

theme:
  name: material
  logo: assets/images/logo.svg
  favicon: assets/images/favicon.ico
  features:
    - content.code.copy
    - navigation.sections
    - navigation.expand
  font:
    text: Nunito Sans
    code: Fira Code
  icon:
    repo: fontawesome/brands/github
  palette:
    # Palette toggle for light mode
    - scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    # Palette toggle for dark mode
    - scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

extra_css:
  - stylesheets/extra.css

markdown_extensions:
  - admonition
  - attr_list
  - def_list
  - codehilite
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.details
  - pymdownx.tabbed:
      alternate_style: true
  - smarty
  - tables
  - toc:
      title: On this page
      permalink: true

extra:
  mathesar_version: 0.1.6
