site_name: Mathesar Documentation
site_url: https://docs.mathesar.org/
repo_url: https://github.com/mathesar-foundation/mathesar/
repo_name: mathesar-foundation/mathesar
edit_uri: edit/develop/docs/docs/

nav:
  - Introduction: index.md
  - Administration:
      - Install using Docker Compose: administration/install-via-docker-compose.md
      - Install from scratch: administration/install-from-scratch.md
      - Environment Variables: administration/environment-variables.md
      - Upgrade Mathesar: administration/upgrade.md
      - Uninstall Mathesar: administration/uninstall.md
      - Debugging Mathesar: administration/debug.md
      - Postgres & Python Versions: administration/version-support.md
      - Usage Data Collection: administration/usage-data-collection.md
  - User Guide:
      - Introduction: user-guide/index.md
      - Your data in PostgreSQL:
          - Databases: user-guide/databases.md
          - Schemas: user-guide/schemas.md
          - Tables: user-guide/tables.md
          - Data types: user-guide/data-types.md
          - Relationships: user-guide/relationships.md
      - Access Control:
          - Overview: user-guide/access-control.md
          - Mathesar Users: user-guide/users.md
          - PostgreSQL Roles: user-guide/roles.md
          - Stored Role Passwords: user-guide/stored-role-passwords.md
          - Collaborators: user-guide/collaborators.md
      - Mathesar constructs:
          - Metadata: user-guide/metadata.md
          - Data Explorer: user-guide/data-explorer.md
      - Data management:
          - Importing data: user-guide/importing-data.md
          - Exporting data: user-guide/exporting-data.md
  - API:
      - Overview: api/index.md
      - Methods: api/methods.md
  - Releases:
      - '0.2.0': releases/0.2.0.md
      - Previous Releases:
          - '0.1.7': releases/0.1.7.md
          - '0.1.6': releases/0.1.6.md
          - '0.1.5': releases/0.1.5.md
          - '0.1.4': releases/0.1.4.md
          - '0.1.3': releases/0.1.3.md
          - '0.1.2': releases/0.1.2.md
          - '0.1.1': releases/0.1.1.md
          - '0.1.0': releases/0.1.0.md

plugins:
  - search:
      lang: en
  - redirects:
      redirect_maps:
        "installation-dc/ansible-setup.md": "administration/install-via-docker-compose.md"
        "product/intro.md": "user-guide/index.md"
        "product/users.md": "user-guide/users.md"
        "install/index.md": "index.md"
        "install/docker-compose/index.md": "administration/install-via-docker-compose.md"
        "install/build-from-source/index.md": "administration/install-from-scratch.md"
        "api/rpc.md": "api/index.md"
        "api/rest.md": "api/index.md"
        "user-guide/glossary.md": "user-guide/index.md"
        "user-guide/permissions.md": "user-guide/access-control.md"
        "configuration/env-variables.md": "administration/environment-variables.md"
        "administration/configuration.md": "administration/environment-variables.md"
        "installation/docker-compose/index.md": "administration/install-via-docker-compose.md"
        "installation/build-from-source/index.md": "administration/install-from-scratch.md"
  - macros
  - placeholder
  - mkdocstrings:
      handlers:
        python:
          paths: [../mathesar/rpc/]
          options:
            heading_level: 3
            docstring_style: google
            separate_signature: true
            show_root_toc_entry: false
            show_root_members_full_path: true
            show_source: false
            group_by_category: false
  - spellcheck:
      backends:
      - codespell:
          dictionaries: [clear]
      known_words:
      - Mathesar
      ignore_code: yes
      min_length: 2
      max_capital: 1
      allow_unicode: yes
      strict_only: yes

theme:
  name: material
  logo: assets/images/logo.svg
  favicon: assets/images/favicon.ico
  features:
    - content.code.copy
    - navigation.sections
    - navigation.expand
  font:
    text: Nunito Sans
    code: Fira Code
  icon:
    repo: fontawesome/brands/github
  palette:
    # Palette toggle for light mode
    - scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    # Palette toggle for dark mode
    - scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  custom_dir: overrides

extra_css:
  - stylesheets/extra.css

markdown_extensions:
  - admonition
  - attr_list
  - def_list
  - codehilite
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.details
  - pymdownx.tabbed:
      alternate_style: true
  - smarty
  - tables
  - toc:
      title: On this page
      permalink: true

extra:
  mathesar_version: 0.2.0
  version:
    provider: mike
    alias: true
