button.dropdown.trigger {
  position: relative;

  > .label {
    display: inline-flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-sizing: content-box;
    min-height: 1em;
    flex-grow: 1;
    > *:not(:last-child) {
      margin-right: 0.25rem;
    }
  }

  > .arrow {
    display: flex;
    align-items: center;
    padding: 0 0.1rem;
  }
  &:focus {
    outline: 2px solid var(--accent-500);
    outline-offset: 1px;
    border-radius: var(--border-radius-s);
    box-shadow: 0 0 0 2px var(--accent-100);
  }
}

.dropdown.content {
  box-shadow: var(
    --Dropdown__box-shadow,
    #000 0 0 0 0,
    rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
    rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px
  );
  border: var(--Dropdown__border, none);
  border-radius: var(--border-radius-m);
  background: var(--Dropdown__background, var(--white));
  z-index: var(--dropdown-z-index, 100);
  max-height: calc(100vh - 0.5rem);
  overflow: auto;

  &[data-popper-placement='top-start'] {
    box-shadow:
      rgba(0, 0, 0, 0.1) 0px -10px 15px -3px,
      rgba(0, 0, 0, 0.05) 0px -4px 2px -2px,
      rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
      #000 0 0 0 0;
  }

  &.no-max-height {
    max-height: none;
  }
}
