button.dropdown.trigger {
  padding: 0.5rem 2rem 0.5rem 0.75rem;
  position: relative;

  &.no-arrow {
    padding: 0.5rem 0.75rem;
  }

  > .label {
    display: inline-flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-sizing: content-box;
    gap: 0.25rem;
    line-height: 1.2;
    min-height: 1.2em;
    min-width: 2ch;
  }



  > .arrow {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    padding-right: 0.75rem;
  }
}

.dropdown.content {
  box-shadow: #000 0 0 0 0, rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
    rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  border-radius: 0.25rem;
  background: #fff;
  z-index: 100;
  max-height: 210px;
  overflow: auto;

  &[data-popper-placement='top-start'] {
    box-shadow: rgba(0, 0, 0, 0.1) 0px -10px 15px -3px,
      rgba(0, 0, 0, 0.05) 0px -4px 2px -2px, rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
      #000 0 0 0 0;
  }

  &.no-max-height {
    max-height: none;
  }
}
