.table-section .actions-pane {
  border-bottom: 1px solid #efefef;
  position: relative;
  padding: 6px 10px;
  display: flex;
  align-items: center;
  gap: 5px;

  .divider {
    width: 1px;
    display: inline-block;
    background: #dfdfdf;
    height: 18px;
    margin: 0px 5px;
  }

  .save-status {
    font-size: 0.9em;
    color: #888;

    .error {
      color: #f47171;
    }
  }

  .loading-info {
    margin-left: auto;
  }
}

.filter-dropdown-content.dropdown.content {
  overflow-x: hidden;
  max-height: 320px;
}
