{% extends 'mathesar/login_base.html' %}

{% block h1 %}Log in to Mathesar{% endblock %}

{% block box_content %}
  <form
    method="post"
    onsubmit="showLoadingStatus('Logging In...');"
  >
    {% csrf_token %}
    <div class="labeled-input layout-stacked">
      <label for="id_username" class="label-component">
        <span class="label-content">
          <span class="label">Username</span>
          <span class="input">
            <input type="text" name="username"
            class="input-element{% if form.username.errors %} has-error{% endif %}"
            value="{% if form.username.value %}{{form.username.value}}{% endif %}"
            autofocus autocapitalize="none" autocomplete="username"
            required id="id_username">
          </span>
          {% if form.username.errors %}
            <span class="help error">
              {% for error in form.username.errors %}
                <span>{{error|escape}}</span>
              {% endfor %}
            </span>
          {% endif %}
        </span>
      </label>
    </div>
    <div class="labeled-input layout-stacked">
      <label for="id_password" class="label-component">
        <span class="label-content">
          <span class="label">Password</span>
          <span class="input">
            <input type="password" name="password"
            class="input-element{% if form.password.errors %} has-error{% endif %}"
            autocomplete="current-password" required id="id_password">
          </span>
          {% if form.password.errors %}
            <span class="help error">
              {% for error in form.password.errors %}
                <span>{{error|escape}}</span>
              {% endfor %}
            </span>
          {% endif %}
        </span>
      </label>
    </div>
    {% if form.non_field_errors %}
      <div class="error-message">
        <div class="icon">&#9888;</div>
        <div>
          {% for error in form.non_field_errors %}
            <span>{{error|escape}}</span>
          {% endfor %}
        </div>
      </div>
    {% endif %}
    <div class="footer">
      <button class="btn btn-primary submit-button" type="submit">
        Log In
      </button>
    </div>
  </form>
{% endblock %}
