{% extends 'mathesar/app_styled_base.html' %}
{% load i18n static %}
{% translate "Creating Admin User..." as creating_user_loader_text %}
{% block title %}
  {% translate "Create Admin User" %}
{% endblock %}
{% block page_styles %}
  <style type="text/css">
      body {
          padding: 4rem 2rem;
          background: var(--sand-200);
          color: var(--slate-800);
          overflow-y: auto;
      }

      .align-center {
          margin-left: auto;
          margin-right: auto;
      }

      .logo img {
          width: 13.25rem;
          display: block;
      }

      .create-super-user-container {
          max-width: 60rem;
          margin: 1rem auto;
      }

      .create-super-user-container h1,
      h2,
      p {
          margin: 0;
      }

      .create-super-user-container h1 {
          font-weight: 500;
          font-size: var(--size-ultra-large);
          margin-bottom: var(--size-ultra-small);
      }

      .create-super-user-container h2 {
          font-weight: 500;
          font-size: var(--size-x-large);
          margin-bottom: var(--size-xx-large);
      }

      .create-super-user-container .form-card {
          background-color: white;
          padding: var(--size-ultra-large);
          margin-top: var(--size-x-large);
          border-radius: var(--border-radius-m);
          border: 1px solid var(--slate-300);
      }

      .create-super-user-form .inputs-container {
          display: grid;
          grid-template-columns: 1fr 4fr;
      }

      .create-super-user-form .inputs-container .cell {
          padding-bottom: var(--size-xx-large);
      }

      .create-super-user-form .inputs-container .left {
          text-align: right;
          margin-top: var(--size-xx-small);
          padding-right: var(--size-base);
      }

      .create-super-user-form .inputs-container .label-component {
          font-weight: 500;
      }

      .create-super-user-form .inputs-container .help {
          font-size: var(--size-small);
          margin-top: var(--size-extreme-small);
      }

      .create-super-user-form .inputs-container .help.error {
          color: var(--red-600);
      }

      .create-super-user-form .inputs-container .help.info {
          color: var(--slate-700);
      }

      .create-super-user-form .message-box {
          margin-bottom: var(--size-xx-large);
      }

      .create-super-user-form .footer {
          text-align: right;
      }
  </style>
{% endblock %}
{% block content %}
  <div class="logo">
    <img src="{% static 'images/red-logo-with-text.svg' %}"
         alt="Mathesar Logo"
         class="align-center" />
  </div>
  <div class="create-super-user-container">
    <div>
      <h1>{% translate "Welcome" %}</h1>
      <p>
        {% translate "To get started with Mathesar, you need to create an Admin user. This user will have full control over your Mathesar installation." %}
      </p>
    </div>
    <div class="form-card">
      <h2>{% translate "Create Admin User" %}</h2>
      <form method="post"
            class="create-super-user-form"
            onsubmit="showLoadingStatus({{ creating_user_loader_text }});">
        {% csrf_token %}
        <div class="inputs-container">
          <div class="left cell">
            <label for="id_username" class="label-component">
              {% translate "Username" %}
            </label>
          </div>
          <div class="right cell">
            <div class="input">
              <input type="text"
                     name="username"
                     class="input-element{% if form.username.errors %} has-error{% endif %}"
                     value="{% if form.username.value %}{{ form.username.value }}{% endif %}"
                     autofocus
                     autocapitalize="none"
                     autocomplete="username"
                     required
                     id="id_username" />
            </div>
            {% if form.username.errors %}
              <div class="help">
                {% for error in form.username.errors %}
                  <span class="error">{{ error|escape }}</span>
                {% endfor %}
              </div>
            {% endif %}
          </div>
          <div class="left cell">
            <label for="id_password1" class="label-component">
              {% translate "Password" %}
            </label>
          </div>
          <div class="right cell">
            <div class="input">
              <input type="password"
                     name="password1"
                     class="input-element{% if form.password1.errors %} has-error{% endif %}"
                     value="{% if form.password1.value %}{{ form.password1.value }}{% endif %}"
                     autofocus
                     autocapitalize="none"
                     autocomplete="new-password"
                     required
                     id="id_password1" />
            </div>
            {% if form.password1.errors %}
              <div class="help error">
                {% for error in form.password1.errors %}
                  <span>{{ error|escape }}</span>
                {% endfor %}
              </div>
            {% else %}
              <div class="help info">
                {% translate "Your password must be at least 8 characters long and include at least one number and one special character (e.g., !, @, #, $, %).Please avoid using spaces or unicode characters." %}
              </div>
            {% endif %}
          </div>
          <div class="left cell">
            <label for="id_password2" class="label-component">
              {% translate "Confirm Password" %}
            </label>
          </div>
          <div class="right cell">
            <div class="input">
              <input type="password"
                     name="password2"
                     class="input-element{% if form.password2.errors %} has-error{% endif %}"
                     value="{% if form.password2.value %}{{ form.password2.value }}{% endif %}"
                     autofocus
                     autocapitalize="none"
                     autocomplete="new-password"
                     required
                     id="id_password2" />
            </div>
            {% if form.password2.errors %}
              <div class="help error">
                {% for error in form.password2.errors %}
                  <span>{{ error|escape }}</span>
                {% endfor %}
              </div>
            {% endif %}
          </div>
        </div>
        {% if form.non_field_errors %}
          <div class="message-box error-message">
            <div class="icon">&#9888;</div>
            <div>
              {% for error in form.non_field_errors %}
                <span>{{ error|escape }}</span>
              {% endfor %}
            </div>
          </div>
        {% endif %}
        <div class="message-box warning-message">
          <div class="icon">&#9432;</div>
          <div>
            {% translate "Important: You will need this password to log in. Please store it in a secure location." %}
          </div>
        </div>
        <div class="footer">
          <button class="btn btn-primary submit-button" type="submit">
            {% translate "Create Admin User" %}
          </button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
{% block page_scripts %}
  <script>
      function showLoadingStatus(newText) {
          const loginButton = document.querySelector('form button[type="submit"]');
          loginButton.disabled = true;
          loginButton.innerText = newText ?? 'Loading...';
      }
  </script>
{% endblock %}
