.import-file-view {
  overflow: auto;
  padding: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0px;

  h2 {
    font-size: 1.5em;
    font-weight: 400;
    margin: 20px 0px;
  }

  h3 {
    font-size: 1.15em;
    font-weight: 400;
    margin: 0px 0px 10px 0px;
  }

  > .help-content {
    margin: 15px 0px;
    line-height: 1.4em;
    color: #606066;
  }

  > .buttons {
    margin: 15px 0px;
    display: flex;
    justify-content: flex-end;
  }

  > .notification {
    position: sticky;
    top: 0px;
    margin-bottom: 20px;
  }
}
