name: Run E2E integration tests
on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    # We only want to run on external PRs, since internal PRs are covered by "push"
    # This prevents this from running twice on internal PRs
    if: github.event_name == 'push' || github.event.pull_request.head.repo.full_name != github.repository
    steps:
      - uses: actions/checkout@v2

      # In this step, this action saves a list of existing images,
      # the cache is created without them in the post run.
      # It also restores the cache if it exists.
      - uses: satackey/action-docker-layer-caching@v0.0.11
        # Ignore the failure of a step and avoid terminating the job.
        continue-on-error: true
        with:
          key: mathesar-docker-cache-integ-tests-{hash}
          restore-keys: |
            mathesar-docker-cache-integ-tests-

      - name: Copy env file
        run: cp .env.example .env

      # The code is checked out under uid 1001 - reset this to 1000 for the
      # container to run tests successfully
      - name: Fix permissions
        run: sudo chown -R 1000:1000 .

      - name: Build the stack
        run: docker-compose up --build -d
      
      - name: Sleep for 60 seconds
        run: sleep 60s
        shell: bash

      # TODO: This needs to be handled inside the tests
      - name: Run migrations
        run: docker exec mathesar_service python manage.py migrate
      
      - name: Run type installation
        run: docker exec mathesar_service python install.py --skip-confirm

      - name: Sleep for 15 seconds
        run: sleep 15s
        shell: bash

      - name: Run integ tests with pytest
        run: docker exec mathesar_service pytest --browser chromium --browser webkit --browser firefox tests/
