name: Run Python tests
on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    # We only want to run on external PRs, since internal PRs are covered by "push"
    # This prevents this from running twice on internal PRs
    if: github.event_name == 'push' || github.event.pull_request.head.repo.full_name != github.repository
    steps:
      - uses: actions/checkout@v2

      - name: Copy env file
        run: cp .env.example .env

      # The code is checked out under uid 1001 - reset this to 1000 for the
      # container to run tests successfully
      - name: Fix permissions
        run: sudo chown -R 1000:1000 .

      - name: Build the stack
        run: PYTHON_REQUIREMENTS=requirements-dev.txt docker-compose --profile prod up --build -d

      - name: Create coverage directory
        run: docker exec mathesar_service mkdir coverage_report

      - name: Run tests with pytest
        run: docker exec mathesar_service pytest  --ignore=mathesar/tests/integration/ --cov-report=xml:coverage_report/coverage.xml

      - name: Save the coverage report
        uses: codecov/codecov-action@v2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          directory: ./coverage_report
          flags: pytest-backend
          name: codecov-mathesar
          verbose: true
