# Since we're using both the "require pull request" and "require merge queue"
# requirements for develop and master branches, there's no reason to run tests
# on every push. Instead, we're using the recommended "merge_group" formulation
# that runs status checks and reports them whenever a PR is added to the merge
# queue.

name: Run Python tests
on:  [pull_request, merge_group]
jobs:
  python_tests:
    runs-on: ubuntu-latest
    # Using this construct means we'll skip to "success". This avoids the
    # unrecommended path filtering in this required job.
    if: ${{ -n hashFiles('*.py', 'mathesar/**', 'db/**') }}
    strategy:
      matrix:
        pg-version: [13, 14, 15]
    steps:
      - uses: actions/checkout@v2

      - name: Copy env file
        run: cp .env.example .env

      # The code is checked out under uid 1001 - reset this to 1000 for the
      # container to run tests successfully
      - name: Fix permissions
        run: sudo chown -R 1000:1000 .

      - name: Build the stack
        run: docker build -t mathesar_service_test --build-arg BUILD_PG_MAJOR=${{ matrix.pg-version }} --build-arg PYTHON_REQUIREMENTS=requirements-dev.txt .
        env:
          PG_MAJOR: ${{ matrix.pg-version }}
      - name: Run docker container
        run: docker run -d --name mathesar_service_test mathesar_service_test
      # Override setup.cfg docker-compose db service credentials with in built docker postgres server
      - name: Run tests with pytest
        run: docker exec -e DJANGO_DATABASE_URL="postgres://postgres:mathesar@localhost:5432/mathesar_django" -e MATHESAR_DATABASES="(mathesar_db_test|postgres://postgres:mathesar@localhost:5432/mathesar_db_test)" mathesar_service_test ./run_pytest.sh
  tests:
    needs: python_tests
    if: ${{ !failure() }}
