.collapsible {
  position: relative;

  .collapsible-header {
    display: flex;
    width: 100%;
    text-align: left;

    .collapsible-header-title {
      flex-grow: 1;
      overflow: hidden;
    }
    svg {
      flex-shrink: 0;
      flex-grow: 0;
    }
  }
  .collapsible-content {
    position: relative;
  }

  // TODO: Can be improved once the
  // global css from TableGroupCollapsible.svelte is removed
  .no-style {
    border: none !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
}
