$top-pane-height: 46px;

section.content-section {
  position: absolute;
  top: $top-pane-height;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

body {
  /**
   * This sets the `mix-blend-mode` property for cell backgrounds.
   *
   * Why use color blending instead of opacity? Because I thought it would give
   * us an easier time keeping all our UI colors in sync. With blending, we
   * supply the exact same color value as we'd use for another places in the UI
   * where we expect the color to be opaque.
   *
   * If/when we implement dark mode, we'll need to toggle this property to
   * something like `screen` or `lighten` so that as more backgrounds are
   * applied, the resulting blended background gets lighter instead of darker.
   */
  --cell-bg-mix-blend-mode: multiply;
  /**
   * This establishes a base background color for the cell when no additional
   * background colors are applied. We need this in case there is a background
   * color applied underneath the cell, e.g. on the table or page.
   */
  --cell-bg-color-base: white;
  --cell-bg-color-error: #fef1f1;
  --cell-bg-color-header: #f9f9f9;
  --cell-bg-color-processing: #fefef1;
  --cell-bg-color-disabled: #f3f3f3;
  --cell-bg-color-row-hover: #f6f7f7;
  --cell-bg-color-row-selected: #e4f2ff;

  --color-fk: #dfd0b3;

  --cell-text-color-processing: #888;

  --cell-border-horizontal: 1px solid #e7e7e7;
  --cell-border-vertical: 1px solid #efefef;

  --side-bar-width: 255px;
  --top-pane-height: 46px;
}
